[2017-12-18 18:28] lsandoval opened #70 "Too many contributors shown on main page"
CLR main page [1] shows more  1.6k contributors (1688). This is too much and the number needs to be double check.

[1] https://clearlinux.org/

[2017-12-18 18:36] lsandoval opened #71 "show latest image number when fetching an image"
This is a feature, not a bug. There are several places on the documentation that the user is asked to download a image from [1] and then unxz it. IMO, it would be great if the fetch step is also shown as  a wget command including the full url of the most recent image, this way we make it easier for the user and avoid wrong image selection from user.

For example, on the kvm steps:

 1. Download th

[2017-12-18 18:41] lsandoval commented on #71
Perhaps the title needs to change, but we should include full command lines when downloading stuff, like OVMF.fd or the start_qemu.sh. Leaving the title as it is for the moment.

[2017-12-18 22:32] matthewrsj commented on #70
I agree this number seems extremely high.

[2017-12-18 22:41] rcaballeromx commented on #70
I suspect that we are aggregating contributors from all the CL repositories. Admittedly, most of them will be duplicates. I'll investigate and report back.

[2017-12-19 00:44] iphutch commented on #70
Yes, I have been informed that this is precisely what we are doing. I will see what can be done to remove duplicates for this statistic.

[2018-03-15 02:35] kevincwells opened #97 "Mixer Documentation implicit section hyperlinks not working"
In the recent mixer documentation rewrite (#80), the various steps were broken out into separate sections. A `Current mixing workflow` section was added to the top, with links to the various other sections below.  These hyperlinks do not currently work, and instead all point back to the [main document itself](https://clearlinux.org/documentation/clear-linux/guides/maintenance/mixer).

It's not cle

[2018-03-15 02:36] kevincwells commented on #97
@rcaballeromx  I assume you know a lot more about reST/Sphinx than I do -- any idea why they're not being built correctly?

[2018-03-15 16:29] rcaballeromx commented on #97
@kevincwells Thank you for reporting on this. We haven't used internal xrefs in the documentation so this issue hadn't become apparent. After investigating, I can say that the issue is not caused by ReST nor Sphinx. The issue is being caused by the import we perform of the rendered content into the website's CMS. The import removes the ids from the internal links leaving them pointing to the main

[2018-03-15 17:45] kevincwells commented on #97
Ah, that makes sense. Awesome -- thanks for the quick investigation!

[2018-03-29 22:02] mltullis commented on #97
I believe the ODX team deployed a new stylesheet with less restrictive tag filtering hoping to fix this issue.
It looks like more work is needed. I'll reach out to them on Monday (after their holiday) to ensure we get this fixed.

[2018-04-02 21:18] iphutch commented on #70
Duplicates are no longer included in the number of contributors shown on the CLR main page.

[2018-04-02 21:18] #70 closed

[2018-04-03 20:43] bwarden opened #107 "Guide specifies insecure steps for converting/installing images"
https://github.com/clearlinux/clear-linux-documentation/blob/78571ea4dc1cbb774294c8663803a2604d4eb77d/source/clear-linux/get-started/virtual-machine-install/vmware-esxi-preconfigured-cl-image.rst#L83

Both of these steps are highly discouraged by VMware:
- SSH into the ESXi host as root
- running vmkfstools on the ESXi host

We should rework the guide to perform the conversion elsewhere (if it's s

[2018-04-06 16:01] rcaballeromx commented on #97
@kevincwells I can confirm that the issue is back. It is strange because we already deployed a fix. ODX and I will investigate further.

[2018-04-17 16:43] iphutch commented on #97
Issue is not limited to Mixer docs: There are multiple scenarios in which the sidebar or content pages once you move to a tab does not link the user to the content indicated. Here are a few examples with the tab stated first, then the top level heading, then the heading/link with the issue.
Concepts: Bundles -> Next steps
Reference: Compatible Clear Linux Kernel -> Kernel Native
Tutorial: Machine

[2018-04-17 19:44] mltullis commented on #97
Yes, this style sheet issue for bookmarked internal links affects all topics, not just mixer. @rcaballeromx, do you have any update from Daniel Serna on the ODX team?

[2018-04-17 19:45] bktan8 commented on #71
@lsandoval  - The "image" directory in https://download.clearlinux.org/image always has the latest.  there aren't multiple versions.

That said, we can add a command-line code-block to each one of the document where we ask the user to download the latest.  It will download the latest.  @Michael-Vincerra - Here are the changes to make:

1. On https://clearlinux.org/documentation/clear-linux/get-sta

[2018-04-17 23:57] Michael-Vincerra commented on #71
Will do so as soon as we meet to resolve minor issues in commands.

[2018-04-20 16:16] Michael-Vincerra commented on #71
We've added the curl command in these URLs. This issue is closed.

[2018-04-20 16:16] #71 closed

[2018-05-03 15:48] matthewrsj opened #126 "Bundles list is very out of date"
The available bundles file (https://github.com/clearlinux/clear-linux-documentation/blob/master/source/clear-linux/reference/bundles/bundles.html) is very out of date. Last updated October of 2017. We have added dozens of new bundles since then, including many pundles. Many of the includes have changed as well.

The effected external page is https://clearlinux.org/documentation/clear-linux/referen

[2018-05-03 16:06] matthewrsj commented on #126
Here's the script to get you includes per bundle:
[code]
Simple change to get you all packages in a bundle (including packages in the included bundles), just remove the --bundles flag:
[code]

[2018-05-03 16:29] mltullis commented on #126
We have an old script we've used to generate an HTML table with all the latest bundle info. We're dusting that off and are looking at CI for ongoing use to keep this up to date. I'll have more info in a day or two.

[2018-05-03 20:10] matthewrsj commented on #126
If your script was last used in October it wasn't taking pundles into consideration. Keep in mind that we now publish pundles via the clr-bundles/packages file as well. These are exposed as regular bundles to the user so should be reported in this page.

[2018-05-03 20:27] mltullis commented on #126
Adding @mvincerx into this discussion.

[2018-05-03 21:32] mvincerx commented on #126
I've got a new branch started with all updated bundles. Just learning how to include pundles.  I'm communicating with @matthewrsj

[2018-05-03 23:47] mvincerx commented on #126
https://github.com/clearlinux/clear-linux-documentation/pull/127

[2018-05-04 22:06] mltullis commented on #126
https://github.com/clearlinux/clear-linux-documentation/pull/127 is merged and goes live this afternoon. Part of this was a manual update. We'll continue to work on the automation.

[2018-05-04 22:13] mvincerx commented on #126
@mltullis, @matthewrsj  advised me on a new way to bring in the "latest" bundles using the for loop he gives above. (I just have to re-install CL on my NUC to do so, and rebuild the HTML table manually again.)
For this, I'll open a new PR since this one is merged.  Phase 2: Let's discuss the automation more next week.

[2018-05-05 00:49] mvincerx commented on #126
@matthewrsj, if you have time this weekend, can you please advise?  See also my email.

From where (in directory/ forked repo) do you run this command?:
` for i in `sudo swupd bundle-list --all`; do echo $i && echo "===========" && unbundle $i <path/to/clr-bundles/repository/> --bundles && echo; done`

` for i in `sudo swupd bundle-list --all`; do echo $i && echo "===========" && unbundle $i <path

[2018-05-05 01:03] matthewrsj commented on #126
Doesn't matter, as long as you replace everything inside the `<...>` with the path to cloned `clr-bundles` repository. Let me give you a few more instructions.

Let's just do this in your home directory.
[code]
Those commands above will throw the complete list of all Clear Linux bundles and their included bundles into the `bundles` file. You can view/edit this file by running
[code]
Each section w

[2018-05-05 01:05] matthewrsj commented on #126
btw, you can just copy that command block and paste it into your terminal with no modification needed.

[2018-05-06 00:03] mvincerx commented on #126
Thanks, Matthew. Silly me. I overlooked the embedded file path in the previous script. Too many PRs to complete by COB Friday. :)

[2018-05-15 19:32] mvincerx opened #143 "TBD: Update "Enable DPDK support on OpenvSwitch" after performance concerns resolved."
https://github.com/clearlinux/clear-linux-documentation/pull/142

TBD: After performance concerns are resolved btw DPDK and CL, resume use of this document, per conversation with @nesiusra.

[2018-05-16 19:45] mrkz opened #144 "bootable-usb-linux guide should list only live and installer images"
Currently, only 2 images are build to be used in a USB stick:
 * `clear-<VERSION>-installer.img`
 * `clear-<VERSION>-live.img`

However, the [Create a bootable USB drive on Linux](https://clearlinux.org/documentation/clear-linux/get-started/bootable-usb/bootable-usb-linux) guide is a bit confusing about which images can be used on a USB stick by mentioning all Clear Linux* images available.

The p

[2018-05-23 17:09] tpleavitt commented on #97
@rcaballeromx , can we close this issue?

[2018-05-23 17:28] rcaballeromx commented on #97
@tpleavitt: My last status is that ODX was still working on a fix.

[2018-05-23 17:40] kevincwells commented on #97
@tpleavitt @rcaballeromx  -- checking right now, the links on the mixer page (that I originally opened this issue about) appear to work.  Don't know about any other issues, like those @iphutch  or @mltullis  mentioned.

[2018-05-23 17:53] rcaballeromx commented on #97
@kevincwells Yes, the original issue is fixed and I just spoke with ODX. Today's deployment should fix the other issues too. Daniel Serna will do the deployment today by EoD.

[2018-06-01 16:27] tpleavitt commented on #126
This issue has been resolved and there is an associate jira to track enhancements to this.

[2018-06-01 16:27] #126 closed

[2018-06-01 16:28] tpleavitt commented on #107
@bktan8 , have you had a chance to look into this?

[2018-06-01 16:52] tpleavitt commented on #144
@mrkz , this change will be merged to the website today.  Please review pull request https://github.com/clearlinux/clear-linux-documentation/pull/145 for the changes.  If this meets the requirement, feel free to close this issue once published.

[2018-06-01 17:31] bktan8 commented on #107
I have been looking into it, but no resolution yet.

[2018-06-05 21:08] tpleavitt commented on #144
The documentation changes have been updated on the website

[2018-06-05 21:08] #144 closed

[2018-06-05 21:12] tpleavitt commented on #97
I verified that the issues reported by @iphutch are also fixed.  Closing this issue

[2018-06-05 21:12] #97 closed

[2018-06-14 16:04] matthewrsj opened #162 ""not a sentence error" in swupd-about.rst"
The :ref: at https://github.com/clearlinux/clear-linux-documentation/blame/master/source/clear-linux/concepts/swupd-about.rst#L126 causes the following sentence in the rendered web page:
[code]

https://clearlinux.org/documentation/clear-linux/concepts/swupd-about

[2018-06-15 16:30] phmccarty opened #163 "Consolidate documentation for image integrity and signature validation"
(Original report at https://github.com/clearlinux/distribution/issues/85)

Two pages already exist to document the related topics of verifying image checksum signatures and image integrity:
- [How to verify Clear Linux image integrity.](https://clearlinux.org/documentation/clear-linux/get-started/bare-metal-install#verify-the-integrity-of-the-clear-linux-image)
- [How to validate the signature of

[2018-06-16 18:28] mvincerx opened #166 "write clear linux web server tutorial"
@mvincerx. Create a new tutorial on" creating a Clear Linux web based server" to support autospec and mixer guides. Current tutorial here does not support aforementioned guides:
https://clearlinux.org/documentation/clear-linux/tutorials/web-server-install#web-server-install

[2018-06-16 23:57] tpleavitt commented on #166
This will be a good counterpoint using nginx instead of apache

[2018-06-21 21:13] intelkevinputnam commented on #163
Hi @phmccarty

It looks like the version in the bare metal install is missing the verification of the certificate. Would you recommend simply including the section from the guide section in the bare metal? I've verified that the bare metal install works as advertised, but I haven't walked through the maintenance guide version.

[2018-06-26 18:02] phmccarty commented on #163
@intelkevinputnam Sure, I am okay with including the guide doc section on the bare metal page. The primary ask is to have the same information available (or linked to) on both pages, for consistency.

[2018-06-26 19:13] intelkevinputnam commented on #163
Added the following line and link to [Download, verify, and uncompress a Clear Linux image on Linux](https://clearlinux.org/documentation/clear-linux/guides/maintenance/download-verify-uncompress-linux), which is the source for the section in bare metal install: "For a more in-depth discussion of image verification including checking the certificate see [Image content validation](https://clearlinu

[2018-06-27 09:15] pohly commented on #163
Also note that there are technical issues with the openssl command (https://github.com/clearlinux/distribution/issues/85#issuecomment-395354903) and the current SHA512SUM file no longer works with the `sha512sum -c` command (https://github.com/clearlinux/distribution/issues/85#issuecomment-400601494).

The former might be worth mentioning in the documentation if it can't be fixed. The later probab

[2018-06-28 16:05] mrkz opened #180 "Add instructions for root encrypted installation"
starting from installer version 22600, Clear Linux* now supports full disk encryption, but current documentation does not provide details about this new use case.

Plase add this new install case into the proper documentation page for installing clearlinux.

I'm adding the screenshots of the install for using disk encryption.

![keyboard_selection](https://user-images.githubusercontent.com/978752/

[2018-07-09 18:03] #163 closed

[2018-07-12 12:58] mkhalkidrissi opened #191 "How to install Clear Linux on Hyper-V using ISO"
Hi,

I am looking to install a fresh Hyper-V VM using ISO, IMG or anything which will allow me to have more control on how I want to set up Clear Linux. Just like the manual installation in Bare metal, but for Hyper-V.
I tried using the ISO to run the installation but failed (I used same VM settings used for the official Hyper-V VM: Generation 2, disable secured boot...)

Any help about how to ins

[2018-07-16 22:32] mvincerx commented on #162
PR 187 closes Issue 162
https://github.com/clearlinux/clear-linux-documentation/pull/187

[2018-07-16 22:32] #162 closed

[2018-07-16 22:35] puneetse commented on #191
What changes in particular are you wanting to make at install-time that you can't with the Hyper-V image?

Since Clear Linux is a [stateless](https://clearlinux.org/features/stateless) system, you could use the Hyper-V image, make the desired changes (to partitions or otherwise), and delete `\etc` and `\var` for the same net effect.

[2018-07-16 22:37] #166 closed

[2018-07-17 15:23] mkhalkidrissi commented on #191
I was trying to reconfigure the Hyper-V image in a way to have /boot, /usr and /(root) on SSD and the other /var, /tmp, swap on HDD.
Could you please help me with the instructions to reconfigure the VM in this way?

[2018-07-17 17:54] mkhalkidrissi commented on #191
Thank you for your help!

[2018-07-17 17:54] #191 closed

[2018-07-23 23:34] mvincerx opened #199 "Test"
New pages will appear here: [https://clearlinux.org/documentation/clear-linux/guides]

1. Enter an 'x' in the category for the new "guide":
* [x ] Basics
* [ ] Developer
* [ ] Administrator

Complete the field below, following the colon, that matches option selected above:

I am a Clear Linux Beginner (Basics). I want to learn how to:  Use the new issue template for Guides

I am a Clear Linux Deve

[2018-08-02 23:50] #199 closed

[2018-08-03 18:26] undeadindustries opened #210 "VirtualBox step missing in docs?"
When trying to run install-vbox-lga, it asks for gcc, perl and linux headers.

The Dev bundle solves gcc and perl.

But I can't sort out how to install the linux headers. I've downloaded the source for the LTS release of the kernel. I've installed the linux bundles.

I'm totally stumped. Any help would be appreciated.

Thanks!

[2018-08-06 16:13] mvincerx commented on #210
@puneetse.  Would you have time to review this?

[2018-08-10 21:59] mvincerx commented on #210
@undeadindustries. Thanks for raising this concern. Both a colleague and I are looking into this. We'll report back during the week of 13 Aug.

[2018-08-27 20:39] puneetse commented on #210
@undeadindustries while we are reconciling the documentation, please try the latest Clear Linux version if you haven't already.

The kernel and script have been updated by @bwarden to resolve some issues that were being seen .

[2018-09-04 13:40] tpepper opened #224 "docs error causes image signature verify failures"
It looks like the build signing process and associated docs might have recently changed in https://github.com/clearlinux/distribution/issues/85
and something trivial got missed.

As it stands today https://clearlinux.org/documentation/clear-linux/guides/maintenance/validate-signatures#image-content-validation appears incorrect.  It states:

[code]

But if you look at for example https://download.c

[2018-09-04 15:51] tpleavitt commented on #224
Thanks @tpepper , we'll take a look and get it fixed.

[2018-09-07 16:56] mrkz opened #226 "gifs on tutorials"
Are `*.gif` files allowed for tutorial pages on clearlinux site?

I would like to record a small gif for showing up some steps instead of just plain `*.png` images, but if `*.gif` files are not allowed/supported, I could use the images as well.

![gif_example](https://user-images.githubusercontent.com/978752/45232409-eadc2500-b294-11e8-8369-3e8f34e08904.gif)

[2018-09-07 17:05] cmarcelo commented on #226
See also https://github.com/nbedos/termtosvg. Not applicable to all cases, but for terminal commands it might be a good idea.

[2018-09-11 22:34] mrkz commented on #226
@cmarcelo thanks for the idea! For sure I'll take a look when I need terminal commands recordings.

The reason for asking is basically so I can share the gif as a step-by-step representation of a tutorial,
this is the PR with the changes: https://github.com/clearlinux/clear-linux-documentation/pull/232

[2018-09-13 21:11] rebeccasf opened #233 "mixer documentation for mixer v5.x"
The documentation on mixer requires major update since we have upgraded mixer to v5.x.
The steps still showing the old command: e.g. build chroots and it is not valid now.

[2018-09-16 16:16] Alec423 opened #237 "Problems installing the default DE following instructions on the website"
I tried installing clearlinux on a compatible laptop (or so did the compatibility tester .sh file say) and on VMware Player 14. In both cases I followed the guides on the [clearlinux](https://clearlinux.org) website, first the [installation one](https://clearlinux.org/documentation/clear-linux/get-started/bare-metal-install) and second the '[Create and enable a new user space](https://clearlinux.o

[2018-09-19 19:00] mvincerx commented on #226
https://github.com/clearlinux/clear-linux-documentation/pull/232 has been merged.

[2018-09-20 23:06] mvincerx opened #241 "clear-containers.rst doesn't appear in any toctree; deprecate after confirmation of closure."

[2018-09-20 23:09] mvincerx commented on #241
See also: https://github.com/clearlinux/clear-linux-documentation/pull/240

[2018-09-21 17:14] krisdale commented on #226
Follow up to the original question:

Images are supported in the documentation (The collaboration guidelines recommend PNG or JPEG for screenshots: https://clearlinux.org/documentation/clear-linux/reference/collaboration/documentation/images).

Since the documentation is generally instructional, we recommend against use of animated gifs to show how to do something, as the user cannot control the p

[2018-09-21 17:14] #226 closed

[2018-09-21 18:30] puneetse commented on #237
@Alec423 are you still experiencing this issue?

If so, I'd suggest opening an issue under https://github.com/clearlinux/distribution/issues to troubleshoot in detail. Please include the version of ClearLinux and Xorg logs if possible.

Also, feel free to join the #clearlinux IRC channel on freenode when someone may be able to jump in and help faster.

[2018-09-21 20:53] Alec423 commented on #237
@puneetse Yes, I'm still experiencing the issue, I have opened [this](https://github.com/clearlinux/distribution/issues/210) new issue on the section you suggested

[2018-09-24 03:16] puneetse commented on #237
@Alec423 Thanks. It looks like there has been some correlation with other GitHub issues already. I'm going to close this issue out since it doesn't appear to be related to documentation (yet) but rather may be an actual distribution bug.

[2018-09-24 03:16] #237 closed

[2018-09-24 16:20] krisdale commented on #224
@tpepper Thanks for bringing this to our attention. The documentation has been updated to reflect the updated process ([PR #236](https://github.com/clearlinux/clear-linux-documentation/pull/236))

[2018-09-24 16:20] #224 closed

[2018-09-26 18:30] tpleavitt commented on #210
Issue resolved with PR217

[2018-09-26 18:30] #210 closed

[2018-09-26 18:35] tpleavitt commented on #180
@mvincerx , can you please look into adding this content

[2018-09-26 18:36] tpleavitt commented on #143
Depricate for now, will reopen if needed

[2018-09-26 18:36] #143 closed

[2018-09-26 18:38] tpleavitt commented on #107
Documentation addresses this

[2018-09-26 18:38] #107 closed

[2018-10-01 18:24] tpleavitt opened #249 "Document custom kernel modifications"
From distribution created by [shrmrf](https://github.com/shrmrf) : clearlinux/distribution#215

**Is your feature request related to a problem? Please describe.**
Documentation which describes (tutorial style perhaps) modification of the Linux kernel, adding and signing kernel modules is missing.

**Describe the solution you'd like**
- Tutorial on how with best-practices for Linux Kernel modificat

[2018-10-01 18:44] shrmrf commented on #249
@tpleavitt cool, thanks!!

[2018-10-03 18:36] mvincerx commented on #241
Resolved. See: https://github.com/clearlinux/clear-linux-documentation/pull/251/files

[2018-10-03 18:36] #241 closed

[2018-10-04 16:44] mrkz commented on #249
@tpleavitt @miguelinux would be worth to add to this documentation also how to add custom cmdline kernel parameters.

[2018-10-04 17:32] krisdale opened #256 "Edits needed for the "Create a Clear Linux* based web server" tutorial"
Reorg of the WordPress tutorial (PR #247 ) prompted a request for edits to the first part of the tutorial from @odwdinc.

Edits to the content of the tutorial will be done as a separate PR.

Requested changes:

**1. Current content:**
    Open a text editor and perform the following:
    Copy the content listed below into the new file /etc/httpd/conf.d/httpd.conf.
    **Question:**
    How do you

[2018-10-08 15:48] mrkz opened #261 "document how to change default SSH server port"
**Describe the error/improvement to an existing document or image**
currently, Clear Linux\* sets a sshd.socket systemd unit that listens on the port 22 for SSH connections. However, it's not clear for the user the procedure to change the default ssh port.

**Screenshots**
N/A

**Environment (please complete the following):**
 - Clear Linux OS version: 25430
 - Third-party tool/software: N/A
 - Co

[2018-10-08 15:58] miguelinux commented on #249
We use those targets ;-)

`menuconfig`, `oldconfig` , `olddefconfig`

[2018-10-08 16:33] tpleavitt commented on #249
I asked one of our engineers about this and he replied as follows:

Our kernel packages include a configuration file that is fed into the build (https://github.com/clearlinux-pkgs/linux/blob/master/config) and when the kernel is installed in the system, the config is also stored in /usr/lib/kernel. If you're building the kernel yourself, you can certainly use `menuconfig` to modify the config file

[2018-10-09 15:43] shrmrf commented on #249
Thanks @tpleavitt + @miguelinux  can you elaborate a bit more?

Maybe in tutorial style format? Where do we start (which repo?) and how can we use `make menuconfig` with it.. etc. etc.??

[2018-10-09 18:39] iphutch opened #264 "Autospec pre-req is to have a mix deployed"
**Describe the error/improvement to an existing document or image**
Autospec does not require a mix already deployed.  I think this is an error in the prerequisite section of the autopsic document: https://clearlinux.org/documentation/clear-linux/guides/maintenance/autospec

"Prerequisites
This guide assumes that you have:
Created a custom mix of Clear Linux OS and deployed it to a to a target dev

[2018-10-09 23:15] #261 closed

[2018-10-10 18:48] tpleavitt commented on #256
Documentation on the website has been updated and poublished

[2018-10-10 18:48] #256 closed

[2018-10-10 18:50] tpleavitt commented on #233
Published to the website

[2018-10-10 18:50] #233 closed

[2018-10-10 18:51] mvincerx commented on #264
Easily resolvable. I wrote this based on meetings with developers. I already sent an email to those developers, asking for their opinion now. I can report back on this thread if you like.

[2018-10-10 20:49] krisdale commented on #264
@mvincerx Great! Would you also add me on copy to the email thread, in case I have questions, so I can follow up directly.

[2018-10-10 20:57] mvincerx commented on #264
@krisdale you can follow up directly with @phmccarty regarding removing one Prerequisite from this doc: https://clearlinux.org/documentation/clear-linux/guides/maintenance/autospec

IMHO, at issue is how much space should be given to explaining other use cases for `autospec` (package maintenance, testing, etc.). @phmccarty should be able to advise you on that.

[2018-10-16 19:52] shrmrf opened #270 "Kubernetes Setup Tutorial Doesn't Work in Clean Virtualbox VM"
**Describe the error/improvement to an existing document or image**
I have set up a Virtualbox instance using Vagrant to try the [tutorial on getting up and running with k8s](https://clearlinux.org/documentation/clear-linux/tutorials/kubernetes) on the clearlinux.org site.
  - The `Vagrantfile` is located here: https://github.com/shrmrf/k8s-resources/blob/master/clear/Vagrantfile
    - This file t

[2018-10-16 20:43] mvincerx commented on #270
@shrmrf  Unless you're working behind a proxy, you should be able to safely omit `-E` from the command above.  Also, we're working on follow up PR to correct a few items in the k8s tutorial.  Please allow us a little time while we look into your scenario. Thanks.

[2018-10-16 20:50] shrmrf commented on #270
@mvincerx thanks for the reply. I'm not working behind a proxy the `-E` is just a copy-paste thing :)

Yeah, let me know if there's something missing in my description above

[2018-10-16 23:47] mvincerx opened #271 "Docker-Kubernetes compatibility issue for Kubernetes Tutorial"
Re doc: https://clearlinux.org/documentation/clear-linux/tutorials/kubernetes

Pending response from: https://github.com/clearlinux/distribution/issues/239

[2018-10-16 23:52] mvincerx opened #272 "Kubernetes Tutorial Part II"
**Do you think Clear Linux documentation needs a new document? Please describe.**

For someone who’s new to K8S, should there be a Kubernetes Tutorial Part II? Should we show how to?:
-	Add an  overlay network
-	Join two nodes
-	Deploy a containerized application

Refer to discussion btw: @bktan8 , @joselamego , and @mvincerx.

**Should the new document be a guide, a reference, or a tutorial?**
Re

[2018-10-17 18:59] tpleavitt commented on #272
Modify part 1 to include this content instead of creating a new document.

[2018-10-17 18:59] #272 closed

[2018-10-18 18:33] shrmrf commented on #270
@mvincerx I think I've found the culprit. I have [added some `systemctl restart` lines](https://github.com/shrmrf/k8s-resources/blob/master/clear/Vagrantfile#L27-L32) to my `Vagrantfile` and now, the tutorial seems to run fine.

It seems that `crio.service` is required even if I'm just following the tutorial for `docker` + `runc`! It's part of the `kubelet.service` unit file in fact.

Is this a de

[2018-10-19 13:43] shrmrf commented on #270
@mvincerx I just found out the hard way, that behind a proxy, we need to also configure the `HTTP_PROXY` environment for `crio.service`... Here is my modified file:

(the significant line below is: `Environment="HTTP_PROXY=http://proxy-chain.intel.com:911"`)
[code]

See also (for similar issue): https://github.com/containerd/cri/issues/834

[2018-10-19 13:45] shrmrf commented on #270
And, to prove that I did not cheat:

[code]

[2018-10-19 18:30] mythi commented on #270
If you want to use k8s+docker, make sure kubelet(s) connect to dockershim socket (not CRI-O socket which is the default). This seems to be missing in your Vagrantfile. In case Docker is set up, ```crio.service``` isn't needed.

If you want to use k8s+CRI-O, kubeletes are configured but you need to remember to pass ```--cri-socket=/run/crio/crio.sock```

[2018-10-19 18:51] shrmrf commented on #270
@mythi I want to use dockershim... Do I need to modify `kubelet.service` for that? Or just have docker installed?

What I found was `kubelet.service` was dependent on `unix:///var/run/crio/crio.sock`:

[code]

---

So if `crio.sock` isn't properly up, `kubelet.service` tends to fail. Do you mean, we should be changing the `kubelet.service` file?

[2018-10-19 19:31] shrmrf commented on #270
@mythi Thanks for your hints... I just tried my Vagrantfile with these changes and it works: https://github.com/shrmrf/k8s-resources/commit/d65e3601cdae8d930652816056732b891ef1fd7d#diff-0e16f5f1bbe6083ea3521794a6b59b45

@mvincerx validation from my side of the new PR #273

[2018-10-19 20:18] mythi commented on #270
@shrmf good to hear it works. Any feedback how to improve the doc? Should some of the steps be explained or organized differently (e.g. docker vs crio)?

[2018-10-19 21:35] shrmrf commented on #270
@mythi I think the docs are well written. Maybe some pointers to _assumptions_ could be highlighted e.g. [`crio` being default!](https://github.com/clearlinux/clear-linux-documentation/issues/270#issuecomment-431462405).

I don't know if it's a sane default either because coming from any other distribution, I would just expect dockershim to be the correct default and it's interesting that the solu

[2018-10-20 05:31] mythi commented on #270
@shrmrf the feedback makes sense, we can improve the notes on CRI selection.

[2018-10-22 06:53] shrmrf commented on #270
@mythi and @mvincerx when using dockershim, I believe `KUBELET_NETWORK_ARGS` should also be reset otherwise, the node remains in a non-ready state because it can't find the cni network plugin.

[2018-10-22 10:46] mythi commented on #270
@shrmrf ```Environment="KUBELET_NETWORK_ARGS="``` is wrong. It makes dockershim to use a "dummy" networking interface that results in docker to use its default networking (bridge). While it looks it works, that is not what users normally want.

The CNI network needs to be installed separately. Once you have that, the pods are no longer failing. We'll be improving the doc on the CNI setup side too.

[2018-10-22 10:46] shrmrf commented on #270
@mythi and @mvincerx when using dockershim, I believe `KUBELET_NETWORK_ARGS` should also be reset otherwise, the node remains in a non-ready state because it can't find the cni network plugin.

i.e. in `/etc/systemd/system/kubelet.service.d/10-kubeadm.conf` we have an additional line:

[code]
see: https://github.com/shrmrf/k8s-resources/blob/500ed708463633064019874022b2332d9a559399/clear/Vagrantfi

[2018-10-22 11:03] shrmrf commented on #270
@mythi thanks for the info. I was just proposing the easiest defaults.. It am wrong of course.

I'll try to apply a pod network and report back. (closing issue for now)

[2018-10-22 11:03] #270 closed

[2018-10-22 11:03] shrmrf commented on #270
@mythi thanks for the info. I was just proposing the easiest defaults.. It am wrong of course.

I'll try to apply a pod network and report back. (closing issue for now)

[2018-10-22 11:08] shrmrf commented on #270
@mythi yup... This fixed the problem for me... Of course, we should document that this tutorial uses `flannel` so people deploy the correct pod network.

[code]

[2018-10-24 00:32] mvincerx commented on #180
Closed per https://github.com/clearlinux/clear-linux-documentation/pull/267

[2018-10-24 00:32] #180 closed

[2018-10-27 19:57] uudruid74 opened #284 "Getting Startwd Guide has non-working example"
URL https://clearlinux.org/documentation/clear-linux/get-started/bare-metal-install#bare-metal-install

Curl example gives a 404...

    curl -O https://download.clearlinux.org/image/clear-$(curl https://download.clearlinux.org/latest)-installer.img.xz

[2018-10-27 21:45] tpleavitt commented on #284
Looking at latest it shows 25920 but the installer image only shows as 25800 in the image directory.  They are out of sync.  I'll report this to our build team.

[2018-10-29 15:34] tpleavitt commented on #284
The downloads site is now back in sync

[2018-10-30 17:59] tpleavitt commented on #284
This pointed out an issue with how releases are tagged in the download directory with regards to which latest image is available depending on the type of release.  There is a file in the image directory named latest-images which lists the image files that are currently in the image directory.  The documentation will need to be updated to correctly parse this file to get the true latest image depen

[2018-10-31 18:49] mvincerx commented on #271
@tpleavitt  Yes, OK to close.

[2018-10-31 19:13] #271 closed

[2018-11-02 07:23] poussa opened #302 "Incorrect bundle name on latest OpenVINO/Greengrass document"
**Describe the error/improvement to an existing document or image**

The new document https://clearlinux.org/documentation/clear-linux/tutorials/greengrass has an error in adding the bundles:

`swupd bundle-add os-clr-on-clear desktop-autostart computer-vision-basic`

Should be

`swupd bundle-add os-clr-on-clr desktop-autostart computer-vision-basic`

[2018-11-02 17:51] tpleavitt commented on #284
All documentation using this method has been updated to correct method.  See pull requests 285-289

[2018-11-02 17:51] #284 closed

[2018-11-06 19:43] iphutch commented on #302
Thank you for the fix, @bd-dean

[2018-11-06 19:43] #302 closed

[2018-11-09 04:50] mmccool opened #314 "Add Alternative to Multiboot to Chain Grub"
**Describe the error/improvement to an existing document or image**
The current multiboot install instructions suggest disabling grub and modifying the menus in clr-boot-manager to boot other distributions using grub like Ubuntu.  However it's simpler to simply add a single menu item to let the clr-boot-manager to invoke grub if selected.   This also lets the target OS update its kernels, options

[2018-11-21 08:44] mythi opened #327 "kubernetes: docker part needs a revisit"
**Describe the error/improvement to an existing document or image**
cloud-native-basic bundle does not install docker (through dependencies) anymore so extra steps is needed in the doc to have docker (containers-basic) installed.

**Environment (please complete the following):**
 - Clear Linux OS version: [VERSION_ID=26410]

[2018-12-03 21:16] gtkramer opened #333 "Recommend different OVMF.fd sources for different host OSes"
**Describe the error/improvement to an existing document or image**
https://clearlinux.org/documentation/clear-linux/get-started/virtual-machine-install/kvm

For the above document, the preferred approach for a Clear Linux host to use OVMF.fd is to copy it from /usr/share/qemu/OVMF.fd to the working directory.  For non-Clear Linux hosts, the preferred approach is to download it from https://cdn.do

[2018-12-11 19:43] linjiach commented on #314
Thanks for the suggestion! It's indeed much simpler. We will update tutorial.

[2018-12-19 18:47] tpleavitt commented on #249
We added this document a few weeks ago and will continue to review other documentation that can be added to the website specific to kernel modifications.
[Add kernel modules](https://clearlinux.org/documentation/clear-linux/guides/maintenance/kernel-modules)

[2018-12-27 22:47] markgross opened #357 "makeinfo --version spews noise"

[2018-12-27 22:50] markgross commented on #357
Working through the Linux From Scratch instructions I ran the command: makeinfo --version

I expected to not see  warnings of depricated perl behaviors.  what I got is:

makeinfo --version
Unescaped left brace in regex is deprecated here (and will be fatal in Perl 5.32), passed through in regex; marked by <-- HERE in m/^\s+@([[:alnum:]][[:alnum:]\-]*)({ <-- HERE })?\s*/ at /usr/share/texinfo/Texin

[2018-12-27 22:51] #357 closed

[2018-12-27 22:51] markgross commented on #357
wrong place to log bug.

[2019-01-03 17:57] tpleavitt opened #360 "Add link to increase disk size in the Next Steps section of Getting Started/Install VM"
Add link to increase the disk size in the Next Steps section of Getting Started/Install Clear Linux OS in a virtual machine.  The link is: https://clearlinux.org/documentation/clear-linux/guides/maintenance/increase-virtual-disk-size

[2019-01-04 17:54] mvincerx commented on #360
@MCamp859 will work on this.
@MCamp859 in your PR, please add a separate line that states: "Closes #360".
Doing so will automatically close this issue as soon as your PR is merged.

[2019-01-07 17:41] mvincerx commented on #360
Closed per https://github.com/clearlinux/clear-linux-documentation/pull/361

[2019-01-07 17:41] #360 closed

[2019-01-09 19:31] tpleavitt commented on #327
@mvincerx , can this issue be closed?

[2019-01-09 21:04] mvincerx commented on #327
@tpleavitt . I'm waiting for the answer to that question from @mythi . :)

[2019-01-10 05:50] mythi commented on #327
@mvincerx @tpleavitt OK to close!

[2019-01-10 05:50] #327 closed

[2019-01-15 18:03] bd-dean opened #364 "Missing step in DLRS tutorial"
If you strictly follow the instructions in the DLRS tutorial, the steps to clone and then run the TF benchmarks will fail.  Need to add a first step to run the docker image:

docker run --name <image name>  --rm -i -t <clearlinux/stacks-dlrs-TYPE> bash

[https://clearlinux.org/documentation/clear-linux/tutorials/dlrs](DLRS tutorial)

[2019-01-18 20:03] bwarden opened #369 "Need to add DKMS instructions"
**Describe the error/improvement to an existing document or image**
We have introduced DKMS support for out-of-tree kernel module building. We should add instructions for installing the bundle, using the dkms tool to build and install out-of-tree modules, and how to update them. We should also mention that installing the bundle disables module signature verification, show the message it adds to th

[2019-01-18 20:11] bwarden commented on #369
It might also be good to write a tutorial showing how to install the NVIDIA drivers, for example.

[2019-01-18 21:06] tpleavitt commented on #369
@bwarden I was just thinking that when you first posted this.  Could you write the step by step commands and I can then take that and make a tutorial out of it.

[2019-01-18 21:30] bwarden commented on #369
I _could_, but the installer detects whether you have supported hardware (I don't), so the resulting sequence is a bit different. I can give you that sequence anyway, at least as a head start.

[2019-01-18 21:35] tpleavitt commented on #369
That would be great.  I'll talk to you on Monday.  Is the dev-utils bundle all I would need to be able to run make for this or are there other bundles needed to be able to compile the new kernel?  I want to be able to all the requirements documented in the tutorial to run this from start to finish.

[2019-01-18 22:44] bwarden commented on #369
Ah, good point, we probably also need c-basic. Maybe I should include that in the bundle.

[2019-01-18 23:00] bwarden commented on #369
Sample process:

1. Select and download the appropriate Linux 64-bit driver package from the NVIDIA site
1. Agree to the terms and download the driver package, noting the location where it was saved
1. Open a shell in the directory where the package was saved
1. Run the installer package (sudo sh ./NVIDIA-Linux-x86_64-XXX.XX.run)
   1. When prompted, register the driver with DKMS
   1. Continue wi

[2019-01-23 17:27] mvincerx commented on #364
Closed per GH-365.
https://github.com/clearlinux/clear-linux-documentation/pull/365

[2019-01-23 17:27] #364 closed

[2019-01-23 17:41] bwarden commented on #369
Ideally we'd get the installer to register/build the kernel modules, but not dump its libraries or other binaries into /usr. I'm playing around with installer options, and theoretically this should work, but it's not obeying all the options:
`sudo ./nvidia-installer --no-nvidia-modprobe --no-distro-scripts --no-opengl-files --no-libglx-indirect --no-install-libglvnd --dkms -s`

[2019-01-23 17:46] mvincerx commented on #369
Hi there. This sounds like it would make an interesting addition to our existing guide here:
https://clearlinux.org/documentation/clear-linux/guides/maintenance/kernel-modules

@puneetse Given that you worked on the above `kernel-modules` doc, would you be willing/able to take on Brett's request to create a guide and install `kernel-native-dkms` and add the  `nvidia` drivers?

[2019-01-23 17:54] bwarden commented on #369
Yes, that's where it should go. Also, this command line for the installer looks better:
`sudo ./nvidia-installer --no-nvidia-modprobe --no-distro-scripts --no-opengl-files --no-libglx-indirect --no-install-libglvnd --no-install-compat32-libs --dkms --ui=none`
...although it still prompts whether to register with DKMS (which the arg `--dkms` is supposed to force)

[2019-01-23 18:14] mvincerx opened #371 "Fix K8S tutorial"
Review 4012.

[2019-01-24 21:14] mvincerx commented on #371
Closed per GH-373.

[2019-01-24 21:14] #371 closed

[2019-01-28 19:33] mvincerx opened #378 "bundle_lister.py"
Revise regex to account for unintended capture of repeated data and sectional patterns.
https://github.com/clearlinux/clear-linux-documentation/pull/377

Assigned to @mvincerx

[2019-02-01 23:05] mvincerx commented on #369
Hi @tpleavitt, @puneetse. Can you please give me a status update? I just need to know if someone's working on it. Thanks.

[2019-02-01 23:08] tpleavitt commented on #369
@mvincerx Let me take a swing at it now that the meetup is over.  I'll get with @bwarden next week and start on it.

[2019-02-04 23:03] krisdale opened #387 "Install Clear Linux* OS on bare metal missing last install step"
In the "Finish installation" section, the last step to set up root account is missing.

Need to add this step back in (instructions and screenshot is available in git history https://github.com/clearlinux/clear-linux-documentation/tree/c21f3b93013cc72ea550db5ec41c8268a0cfd66d , from Nov 2018)

[2019-02-04 23:18] mvincerx commented on #387
Great. I'll take this. I'll integrate a recommendation to create an Admin User and flesh our detail at the end.

[2019-02-04 23:31] tpleavitt commented on #387
This was in the original bare metal installer and was pulled out and moved to https://clearlinux.org/documentation/clear-linux/guides/maintenance/enable-user-space

[2019-02-05 00:04] mvincerx commented on #387
@krisdale and I discussed options for a revision. In short, I'll add a couple recommendations, such as installing `desktop-autostart`, just like we did in the EAP. Give me some time to propose some changes. I'll probably touch `enable-user-space` too.

[2019-02-05 00:37] tpleavitt commented on #387
Sounds good.  The enable-user-space was created before the desktop-autostart bundle ever existed so a rewrite of that would be worth doing

[2019-02-05 00:39] mvincerx commented on #387
Yep. I had this on a separate TODO list; but thanks to you all, it's now consolidated.

[2019-02-05 17:56] mvincerx commented on #333
Closed per GH-385.

[2019-02-05 17:56] #333 closed

[2019-02-05 19:09] pdxjohnny opened #388 "Kubernetes Setup Tutorial: don't try to start kubelet before kubeadm"
test: don't try to start kubelet before kubeadm

Starting kubelet before kubeadm isn't necessary and while it worked in
the past, it no longer does with Clear Linux 26630 / Kubernetes 1.12
(/var/lib/kubelet/config.yaml not found,
clearlinux/distribution#310).

Reference: https://github.com/intel/oim/commit/b625d0a57c68a042c250d7723b443ddfbba94d06

[2019-02-07 19:28] mvincerx commented on #388
@ mythi, I believe we address this in GH-376, in the note after "Update the control plane."  Can you please verify that this addresses @pdxjohnny 's concern?

[2019-02-08 05:48] mythi commented on #388
@mvincerx this refers to https://clearlinux.org/documentation/clear-linux/tutorials/kubernetes#configure-and-run-kubernetes

The ask is to remove
```sudo systemctl restart kubelet``` in step 2.

That ask makes sense

[2019-02-08 10:05] pohly opened #392 "Kubernetes: inconsistent and incorrect CNI dir"
**Environment (please complete the following):**
 - Clear Linux OS version: 27670
 - https://clearlinux.org/documentation/clear-linux/tutorials/kubernetes as of 2019-02-08

Handling of the CNI directory is wrong in the current revision of the page.

[code]

The actual path is `/opt/cni/bin`.

[code]

`/usr/lib/tmpfiles.d/cri-o.conf` creates `/opt/bin/cni`, so the command above doesn't fail, but pr

[2019-02-08 11:11] mythi commented on #392
@mvincerx please prioritize this. @pohly's suggestion looks good to me.

[2019-02-08 20:45] mvincerx commented on #388
Edit applied in GH-393. PR pending approval from @mythi.

[2019-02-12 16:31] #392 closed

[2019-02-13 17:14] mvincerx commented on #388
Confirmed that this step was removed in GH-393. Closed.

[2019-02-13 17:14] #388 closed

[2019-02-13 17:16] mvincerx commented on #387
Closed per release of GH-393.

[2019-02-13 17:16] #387 closed

[2019-02-14 11:44] eero-t opened #399 "Odd arguments about package management with other distros"
Following document: https://clearlinux.org/documentation/clear-linux/concepts/swupd-about

Has odd arguments about  package management "issues" with other distributions (i.e. what advantages swupd / bundles would have compared to them):

* "This can be done effectively, but given the nearly endless combinations of packages and versions of packages a server may have, it quickly becomes non-trivial

[2019-02-18 13:30] sdavids opened #402 "VM/VirtualBox - Curl-statement downloads wrong image"
https://clearlinux.org/documentation/clear-linux/get-started/virtual-machine-install/virtualbox#virtualbox

[code]

needs to be changed to:

[code]

due to:

[code]

Maybe other places in the documentation too, I did not check ...

[2019-02-18 17:44] tpleavitt commented on #402
Great catch, thanks!  We just added that image recently so we'll get the documentation fixed.

[2019-02-19 18:19] mvincerx commented on #402
Thanks @sdavids.  Fixed GH-403.

[2019-02-19 18:19] #402 closed

[2019-02-19 18:59] mvincerx commented on #249
@tpleavitt. Checking in.  Do you want to leave this issue open, or did we satisfy requirements?

[2019-02-19 19:22] tpleavitt commented on #249
@shrmrf , can you take a look at [PR#383](https://github.com/clearlinux/clear-linux-documentation/pull/383) mentioned above to see if this satisfies your request?

[2019-02-19 23:18] pixelgeek opened #404 "Package Bundle description missing"
https://clearlinux.org/documentation/clear-linux/reference/bundles is missing the description for dosfstools, even though there is a corresponding entry in https://github.com/clearlinux/clr-bundles/blob/master/packages (possibly because of a parenthesis that needs to be escaped?)

[2019-02-20 01:27] mvincerx commented on #404
This is just a matter of running `bundle_lister.py`. I will split this into two tasks.
- Submit update to current bundles and packages (to reflect latest data)
- Apply script revisions per #378

[2019-02-20 06:17] shrmrf commented on #249
@tpleavitt yeah! I think this is what I was looking for all along...

Haven't tried the steps but the doc looks very good already

[2019-02-21 19:23] #249 closed

[2019-02-21 21:31] puneetse commented on #399
@eero-t thank you for the feedback! As you highlighted, the goal of the document is to explain why Clear Linux packages and updates software the way it does and point out the benefits. The goal and language isn't meant to accuse that everyone would have experienced these pain points on other distros.

I think the order in which the information in the "Versioning" section is presented can be revise

[2019-02-22 02:08] mvincerx commented on #399
Hi @eero-t. Thanks for your feedback on [swupd-about](https://clearlinux.org/documentation/clear-linux/concepts/swupd-about).  We're planning to revise some descriptions of the Clear Linux* OS features related to `swupd`, thanks in part to your feedback.

Some questions you ask in the penultimate bullet list are already under consideration.  Please be patient.

Swupd, and `swupd update` specifical

[2019-02-22 18:10] #404 closed

[2019-02-22 18:14] eero-t commented on #399
Ok, great, while this info isn't on the ClearLinux installation itself, it's at least now easily accessible.  And to see what patches/changes have been applied, I can download and extract the source packages.

(I was surprised to see that you're still building Mesa with autotools when Debian/Ubuntu have switched their builds to faster meson/ninja already 3 months ago.)

The cases where people need

[2019-02-22 18:27] pdxjohnny commented on #272
Part one was never modified to include this. Also, upon finishing the master installation and running `kubeadm join` on a node https://clearlinux.org/documentation/clear-linux/tutorials/kubernetes#use-your-cluster my nodes never changes from the NotReady status (`kubectl --kubeconfig /etc/kubernetes/kubelet.conf get nodes`) Also, I found nodes need to have the `containers-basic` bundle installed.

[2019-02-22 21:49] phmccarty commented on #399
Clear Linux uses autospec to build mesa, and autospec must select autotools as the build pattern instead of meson. Selecting a build system when multiple options are available is autospec's choice, unless a build pattern is forced via the `build_pattern` config file. As far as I recall, autospec didn't give preference to meson over autotools.

[2019-02-22 22:15] mvincerx commented on #399
In fact, much of our documentation is geared toward Linux developers

In fact, much of our documentation is geared toward Linux developers who do build a Clear Linux image themselves for a variety of use cases. [Developer Workstation](https://clearlinux.org/documentation/clear-linux/guides/maintenance/developer-workstation) shows a brief overview of some of user roles, and bundles relative to role

[2019-02-27 13:31] eero-t commented on #399
Ok, if a tool does that decision instead of maintainer, then it makes sense to be conservative.

FYI: Git versions of few projects (Weston, Mesa...) require now an extra option if one wants to continue building them with Autotools, and will soon remove Autotools support completely.

[2019-03-01 21:30] #378 closed

[2019-03-05 23:13] #399 closed

[2019-03-06 13:04] eero-t commented on #399
Checked the document changes.

Main error there is currently this:
"On a package-based OS, system administrators update each individual package or piece of software."

If it would instead say "... can update each individual...", it would match reality.

(Individual package update is done automatically by the package management SW for the administrator.  System administrators do "apt update && apt

[2019-03-06 14:56] victorstewart opened #414 "Sockets"
Hi, just wondering how sockets work...

When I push say a 10MB packet over a socket… does the process...

A) push the entire packet of data into the operating system, and then move onto other tasks?

or B) feed the 10MB incrementally to the operating system, as requested?

I'm trying to reason about the order in which operations will occur on contentious sockets all managed by the same process.

[2019-03-06 16:26] puneetse commented on #414
@bryteise @iphutch can you please move this into the main distribution issues (https://github.com/clearlinux/distribution) ?

[2019-03-06 16:42] victorstewart commented on #414
yes will do! wasn't sure where to ask.

[2019-03-06 16:42] #414 closed

[2019-03-09 17:57] anselmolsm opened #418 "Install kvm-host vs install kvm-host + desktop-autostart"
**Describe the error/improvement to an existing document or image**

https://github.com/clearlinux/clear-linux-documentation/blob/master/source/clear-linux/get-started/virtual-machine-install/kvm.rst - item 3 "On Clear Linux OS".

The swupd command line to install kvm-host includes desktop-start. I understand the idea behind that - make sure users have a graphical env in the CL host -  however it

[2019-03-09 18:23] anselmolsm opened #419 "kvm: OVMF file and steps 3 and 4"
**Describe the error/improvement to an existing document or image**

In the [guide to run Clear Linux as a KVM guest OS](https://clearlinux.org/documentation/clear-linux/get-started/virtual-machine-install/kvm), section "Download and launch the virtual machine":
* Step 3 tells users to download the OVMF file (side note: there could be a copy&paste friendly curl line to download it);
* Step 4 tells

[2019-03-20 16:32] #369 closed

[2019-04-04 18:22] DnPlas opened #442 "Clearlinux.org/stacks has duplicate picture"
The stacks [main page](https://clearlinux.org/stacks) has a duplicate picture. We should replace the duplicate with the 'multi-node' image.

[2019-04-05 20:25] bd-dean commented on #442
@DnPlas the second image is for PyTorch single node, while the first is TensorFlow.  We can replace the PyTorch with a MultiNode image if that's the right thing, can you confirm?

Thanks!

[2019-04-05 23:23] mvincerx opened #446 "Revise prefatory descriptions on Guides, Tut's"
**Describe the error/improvement to an existing document or image**
**Improvement**
Revise descriptions on these pages for brevity:

https://clearlinux.org/documentation/clear-linux/guides
https://clearlinux.org/documentation/clear-linux/tutorials

Or, remove first sentence with 3-bullet description.

**Additional context**
Add any other context about the problem here.

[2019-04-05 23:24] #418 closed

[2019-04-08 10:29] coneypo opened #448 "Clearlinux.org/Wrong word "sytem" in clearlinux.org/documentation"
**Description**
It might be "system" rather than "sytem" in following link:
https://clearlinux.org/documentation/clear-linux/guides/maintenance/swupd-guide#example-3-verify-and-correct-sytem-file-mismatch

**Screenshots**
![image](https://user-images.githubusercontent.com/7233586/55717307-9b78f580-5a2b-11e9-9569-0864a6bc9edb.png)

**Environment**
 - Clear Linux OS version: clearlinux.org
 - Third-

[2019-04-08 14:13] puneetse opened #449 "Wireless connectivity"
It would be nice to have a document on the Clear Linux website that shows how to connect to a wireless AP as a client, using wpa_supplicant for example.

It could highlight and document the current state of network managers in CL and how they may change when using WiFi. (e.g. systemd-networkd vs. NetworkManager)

**Should the new document be a guide, a reference, or a tutorial?**
Guide.

**Describ

[2019-04-08 17:54] mvincerx commented on #448
@coneypo Thanks for catching that typo!  Opened PR to correct it asap. See above. Please feel free to contribute to our docs.

[2019-04-09 16:29] #448 closed

[2019-04-09 16:57] mvincerx commented on #442
@DnPlas. @bd-dean and I just talked, and she mentioned she'll add a note for clarity here. I always appreciate your contributions to the clear linux docs.  I just want to clarify: Going forward, please only file issues here that fall under this directory: https://clearlinux.org/documentation/clear-linux
Thanks

[2019-04-09 17:31] #419 closed

[2019-04-09 22:18] DnPlas commented on #442
@bd-dean @mvincerx  agree, I'll close this issue.

[2019-04-09 22:18] #442 closed

[2019-04-10 19:04] eadamsintel opened #453 "Kata containers setup guide has extra unnecessary steps"
https://clearlinux.org/documentation/clear-linux/tutorials/kata

Sometime in 2018 Clear Linux was updated so that the /etc/systemd/system/docker.service.d/50-runtime.conf is automatically created when you "sudo systemctl start docker" for the first time and that automatically creates the default runtime for Kata.  This information is still useful to have in the tutorial as a reference but it is au

[2019-04-13 00:12] #446 closed

[2019-04-14 01:37] puneetse opened #457 "Improvements to post on tallow"
Regarding the documentation on tallow in this blog post: https://clearlinux.org/blogs/my-clear-linux-system-just-stopped-responding-ssh

There are 2 improvements I think that can be made:

1. Discovering which hosts are blocked. The blog says to use the `iptables -L` command to discover whether a host is blocked or not. This isn't too useful since the command will always show the static entry, whi

[2019-04-14 01:39] puneetse commented on #457
@ahkok is there a better way to query and modify the tallow block list without being compiled with debug? This would be good info the man page too.

[2019-04-15 05:47] lebensterben opened #458 "Wrong shell command in YubiKey U2F support tutorial"
**Error**

The 4th bullet point in section `Enable Linux udev rules for YubiKey` has a shell command, such as
[code]
This won't work as the second statement `udevadm trigger` also needs root privilege. The correct one shall be
[code]

[2019-04-15 15:02] mvincerx commented on #458
@lebensterben. Thank you for the feedback. I appreciate you carefully reviewing our documentation.

@puneetse or @odwdinc. Will you please review this? You both worked on the original document.

[2019-04-15 15:38] puneetse commented on #458
Thanks for checking @lebensterben . I thought in my testing it worked without sudo but it makes sense that it would be required.

[2019-04-15 16:26] mvincerx commented on #453
@eadamsintel. I'll take care of this.

[2019-04-15 17:11] mvincerx commented on #458
I'll take care of this.

[2019-04-15 20:10] mvincerx commented on #457
I agree that `iptables -L` is unhelpful and should be replaced. @pixelgeek, Can you share your thoughts?

Re #1:
@puneetse when I run your `sudo ipset list tallow`, I receive:
 "ipset v7.1: The set with the given name does not exist."
Does this mean tallow has NOT blocked my host? Or something else?
Regardless, this needs clarification to be useful to readers.  (I've used parts of this blog post m

[2019-04-15 20:22] ahkok commented on #457
`tallow` doesn't setup `ipset` and `iptables` unless there's a reason to. It doesn't actually create the `ipset` until a host needs to be blocked.

If you receive the "set ... does not exist" it means nothing needed blocking until now.

In the case of tallow, using `iptables -L` is completely wrong and won't show the current block list.

Using `ipset delete tallow $IP` is entirely reasonable, and

[2019-04-15 20:24] ahkok commented on #457
FTR `ipset list tallow` is the correct way to query the current block list (for ipv4).

[2019-04-16 17:51] mvincerx commented on #457
@pixelgeek, you are the author of this blog post. Will you please respond here? Do you want to revise your blog post? Or would you like me to revise it per suggestions above?

[2019-04-16 21:48] #458 closed

[2019-04-17 16:20] mvincerx commented on #449
@intelkevinputnam Will you please work with @puneetse on this? This is a lower priority, about P3/P4.

[2019-04-19 22:06] pixelgeek commented on #457
https://clearlinux.org/blogs/my-clear-linux-system-just-stopped-responding-ssh has been updated.  Note - the template tallow.conf is currently missing, but @ahkok is working on getting that added back.

[2019-04-19 22:06] #457 closed

[2019-04-22 20:48] puneetse opened #462 "Document installing VMware Workstation Pro on CL"
As suggested in https://github.com/clearlinux/distribution/issues/625, it would be nice for Clear Linux documentation to have a guide on installing VMware Workstation Pro on top of Clear Linux OS (making CL the host OS).

VMware Workstation Pro is the commercial/paid version of the free VMware Player.

**Should the new document be a guide, a reference, or a tutorial?**
Getting Started Guide

**Des

[2019-04-23 16:57] #453 closed

[2019-04-24 21:19] lebensterben opened #464 "Tutorial for Installing CUDA needed"
A tutorial on how to install CUDA on Clear Linux is much needed.

The CUDA toolkit could accelerate certain machine learning routines greatly. Specifically, it could greatly improve the performance of TensorFlow-GPU.

Currently, the stable release of TensorFlow requires CUDA 10.0.There is a tutorial on [installation of NVIDIA proprietary driver](https://clearlinux.org/documentation/clear-linux/tut

[2019-04-24 23:38] dbkinder opened #465 "Hard to find older download versions of Clear Linux, confusing when you do"
**Describe the error/improvement to an existing document or image**
The Clear Linux download page seems to only provide downloads for the latest version.  (A project I'm working on depends on a particular version of Clear Linux.)  It's **very easy** to miss (as I did) that, way down at the bottom of the page there's a tiny mention of "Previous releases are available"
![image](https://user-images.g

[2019-04-26 00:52] dbkinder commented on #465
... and technically, the link for "**previous releases**" takes you to a download area that includes "**future releases**" too (e.g., the button for "latest release" at the top of the page is currently for 28970 but there are many release directories available with numbers higher than 28970)

[2019-04-26 22:41] mvincerx opened #468 "dlrs | tcs editorial review"
@MCamp859 Will you please do a TCS editorial review of this merged PR?
https://github.com/clearlinux/clear-linux-documentation/pull/463

Please review and assess whether the Jupyter Notebook could be better integrated in content flow.
Please apply your magic editorial wand to fix formatting, word choice, etc.

[2019-04-29 16:46] mvincerx commented on #464
Hey @puneetse, Do you have the bandwidth for this?

[2019-04-30 16:37] mvincerx commented on #462
@krisdale Please take this one.

[2019-04-30 22:02] mvincerx opened #469 "Change Win-Rufus to use 'dd' mode for 05-08 build"
**Describe the error/improvement to an existing document or image**

https://clearlinux.org/documentation/clear-linux/get-started/bootable-usb

1. Revise *Windows* section on using Rufus to create a bootable USB so it includes attached screenshot, using 'dd' write mode to be compatible with May 8 build for clear-XXXXX-[...].iso.

2. Revise Figure 2 to reflect new .iso instead of .img version of cl

[2019-04-30 22:03] mvincerx commented on #469
@mdhorn, @dbkinder.  FYI only.

[2019-05-01 18:34] mvincerx commented on #465
@phmccarty , @gtkramer, regarding the last issue that @dbkinder raises, Can we provide any input as to how the CDN directory,[ Index of releases](https://cdn.download.clearlinux.org/releases/), is sorted?

[2019-05-01 19:37] asifhg opened #470 "Document the setup of proxy."
There is no documentation on clearlinux.org that describes how to setup up proxy.

[2019-05-02 20:10] phmccarty commented on #465
@mvincerx I will request to fix the sorting of index pages.

[2019-05-02 20:17] mvincerx commented on #465
@phmccarty Thanks for looking into this. Please respond here with what you discover.

[2019-05-02 20:24] phmccarty commented on #470
There is an autoproxy guide, but not a general proxy guide that I am aware of.

https://clearlinux.org/documentation/clear-linux/guides/clearlinux/autoproxy

[2019-05-03 15:21] intelkevinputnam commented on #470
@tpleavitt , @ahkok Are there particular applications that we should add to this guide? Setting up environment variables for http etc is easy enough. I imagine setting up git to work with ssh is another useful thing to have. Is there anything else that "has" to be there?

[2019-05-03 16:35] tpleavitt commented on #470
@intelkevinputnam , when I set up a new system I add the proxy info for the gnome shell in settings and also for firefox specifically as well as add my proxy variables in my .bashrc file.  Once the generic socks proxy is available we need to add instructions for that as well

[2019-05-03 17:12] ahkok commented on #470
I'd like it to approach at least the following angles:

- configure the proxy for a system service (e.g. docker, but also any generic daemon that uses env vars)
- configure the proxy for all shells and programs in a desktop session
- redsocks setup
- how pacrunner works and what programs can use it
- gnome desktop proxy settings (does it even work?)
- git over ssh

essentially, we should try and c

[2019-05-03 17:23] dbkinder commented on #465
Discussion with the devops team uncovers that the current release downloads index infrastructure is changing soon, so they'll not make updates here now.

[2019-05-03 17:31] mvincerx commented on #465
@dbkinder Thanks. Please see my recent email. Hopefully, we'll get some clarity internally on the plan.

[2019-05-03 21:48] mvincerx commented on #465
"Previous releases" link will move up in downloads page. For details on number indexing, see my recent email.  Closing issue.

[2019-05-03 21:48] #465 closed

[2019-05-08 15:16] mrkz opened #475 "Introduce tutorial or guide for modifying the kernel cmdline"
Currently, the official clearlinux documentation does not provide a guide when a user requires to modify the kernel boot parameters. Current documentation for other distributions does not help very much since Clearlinux does not use grub and also makes use of clr-boot-manager which is an in-house development solution for handling kernel updates on clearlinux.

**Should the new document be a guide,

[2019-05-09 16:58] mvincerx commented on #475
@mrkz. I'll work with you on this to start because I'm already working on a multiboot doc. We can bring in @miguelinux and/or @bwarden after I have a draft ready. Como te lo parece?

[2019-05-09 18:28] pixelgeek opened #478 "Mixin feature may be being deprecated?"
Per Auke - Mixin may be being deprecated.  We may need to update our documentation.

https://community.clearlinux.org/t/cant-add-rpm-package-to-bundle-with-mixin/143/8

May need to remove or add "deprecated" warnings to https://clearlinux.org/documentation/clear-linux/guides/maintenance/mixin (and other places????) or update instructions or provide alternatives.

[2019-05-09 18:38] mvincerx commented on #478
@MCamp859, please take this. Thanks.

[2019-05-10 18:44] bktan8 opened #479 "Copy-and-paste widget also copies the sample output on https://clearlinux.org/documentation/clear-linux/tutorials/flatpak"
**Describe the error/improvement to an existing document or image**

The copy-and-paste widget on https://clearlinux.org/documentation/clear-linux/tutorials/flatpak under "Installing using the command line" section is copying the sample output as well.

[code]

[2019-05-10 19:00] bktan8 opened #480 "LibreOffice is now a bundle and instruction for installing through Flatpak should probably be deprecated"
**Describe the error/improvement to an existing document or image**

LibreOffice is now a bundle and installing through Flatpak should probably be deprecated in this document: https://clearlinux.org/documentation/clear-linux/tutorials/flatpak

[2019-05-10 19:10] tpleavitt commented on #480
I'd suggest just changing the app to one that we don't include the binary for

[2019-05-10 19:46] bktan8 opened #481 "Recommend adding "desktop-autostart" instead "desktop" bundle to install Flatpak"
**Describe the error/improvement to an existing document or image**
In this document: https://clearlinux.org/documentation/clear-linux/tutorials/flatpak, it says:

[code]

I would suggest adding the "desktop-autostart" bundle instead.  This way GDM will start automatically.

[2019-05-10 20:37] tpleavitt commented on #481
Good catch!  This tutorial was originally written when xfce was the main desktop (we didn't have desktop-autostart yet!)

[2019-05-13 17:14] bktan8 opened #482 "Recommend adding a "Note" at the top of the Nvidia driver installation document stating this is a one-off approach..."
to installing software on Clear.  It's not managed by swupd.  The nvidia driver is not updated with normal Clear updates.  And that it can possibly the existing Clear installation.  And that a swupd verify fix would eliminate it (as you already noted).

https://clearlinux.org/documentation/clear-linux/tutorials/nvidia

[2019-05-13 18:55] puneetse commented on #482
I've added a note in this PR https://github.com/clearlinux/clear-linux-documentation/pull/474 to make the implications of manual installation more obvious.

I'm not sure what you mean here but the PR above aims to isolate the nvidia installation and solve a lot of the conflicts.

I wouldn't use the phrase "one-off approach" since DKMS makes it sustainable between CL updates.

[2019-05-13 21:22] bktan8 opened #485 "Correction needed in DKMS document"
**Describe the error/improvement to an existing document or image**
In the document: https://clearlinux.org/documentation/clear-linux/guides/maintenance/kernel-modules-dkms#kernel-modules-dkms

It says:

[code]

The first sentence has 2 instances of "can be can be".  I'm assuming the 2nd "can be" was meant to be "added".

[2019-05-13 21:50] bktan8 commented on #482
Thanks for making me aware of the new PR.  I stand corrected now.

[2019-05-14 02:38] mvincerx commented on #482
Closing per merge of GH-474.

[2019-05-14 02:38] #482 closed

[2019-05-14 15:31] puneetse commented on #480
Looking at the [popular apps on flathub ](https://flathub.org/apps/collection/popular) -  Steam, Filezilla, vscode seem like good candidates.

[2019-05-14 17:11] mvincerx commented on #468
@MCamp859. Can you, by chance, do this today? We're about to have a lot of eyes on this material.

[2019-05-14 17:55] #469 closed

[2019-05-14 18:59] MCamp859 commented on #468
Will do.

[2019-05-14 19:06] MCamp859 commented on #485
@bktan8  This text error will be corrected when PR https://github.com/clearlinux/clear-linux-documentation/pull/454 is merged.

[2019-05-15 20:28] mvincerx commented on #480
I vote for [Visual Studio Code](https://flathub.org/apps/details/com.visualstudio.code.oss). It's practical and pretty handy for coding.  [FIleZilla ](https://flathub.org/apps/details/org.filezillaproject.Filezilla)is my second choice--for practicality too.

[2019-05-15 20:33] mvincerx commented on #480
[Issue 479](https://github.com/clearlinux/clear-linux-documentation/issues/479) will be addressed in PR for this issue. Now, both conditions need to be met to close #480.

[2019-05-15 20:34] mvincerx commented on #479
Refer to Issue #480

[2019-05-15 20:34] #479 closed

[2019-05-15 20:37] mvincerx commented on #481
I'll take this and #480. All are related.

[2019-05-16 19:58] mvincerx opened #492 "Update VirtualBox Guest Additions"
**Describe the error/improvement to an existing document or image**

"Is there a way to fix this easily? The docs explaining how to install the VBox GAs are very bare-bones and seem very incomplete."

CL Forum: https://community.clearlinux.org/t/installation-in-virtualbox-vm-still-problematic/301

CL doc: https://clearlinux.org/documentation/clear-linux/get-started/virtual-machine-install/virtualb

[2019-05-16 20:17] tpleavitt commented on #492
This does need to be updated since we don't walk through the actual process required to add the guest additions.

[2019-05-16 20:28] puneetse commented on #492
Can you be more specific about what you mean when you say process? There is a section for [Install VirtualBox Linux Guest Additions](https://clearlinux.org/documentation/clear-linux/get-started/virtual-machine-install/virtualbox#install-vb-linux-guest-additions) in the doc.

[2019-05-16 20:37] tpleavitt commented on #492
The majority of the doc is on point but when I go to Devices/Insert guest additions CD I have to follow a different process.  I'll rerun the process and let you know what is different

[2019-05-16 21:40] #468 closed

[2019-05-16 22:11] bd-dean commented on #470
We should also show how to manage moving in and out of proxied networks -- how to both set and unset proxies for people who are mobile users.

[2019-05-16 23:17] krisdale commented on #462
@puneetse - would you please confirm that this is the same version/source you were able to successfully install in #625? https://my.vmware.com/web/vmware/details?downloadGroup=WKST-1504-LX&productId=799&rPId=31699

[2019-05-16 23:43] puneetse commented on #462
@krisdale confirmed. The file name should be `VMware-Workstation-Full-15.0.4-12990004.x86_64.bundle`.

[2019-05-17 16:02] mvincerx commented on #478
@pixelgeek. Status?

[2019-05-17 18:30] busykai opened #495 "Correction needed in "Install VirtualBox Linux Guest Additions""
**Describe the error/improvement to an existing document or image**
The document recommends running `clr-boot-manager set-kernel` and then `clr-boot-manager update`. However, they should be run the other way around: `update` first and then `set-kernel`. Because update will reset the default kernel to the latest kernel which is most like will be `native`, not `lts`.

**Additional context**
See clea

[2019-05-17 21:03] mvincerx opened #498 "Resolve VirtualBox crash"
**Describe the error/improvement to an existing document or image**

**NOTE: Original guide specifies Clear Linux OS as host, whereas user has Windows.**

1. Resolve crash on Linux OS as host:

Error: "Kernel driver not installed (rc=-1908)

General:
- Revise Virtual Box to match VB 6.0.8. Include new figures.

2. Resolve system crash, Windows 10 (?)

https://clearlinux.org/documentation/clear-lin

[2019-05-17 21:13] tpleavitt commented on #498
@mvincerx , is this on an IT Windows machine?

[2019-05-17 21:14] mvincerx commented on #498
Answer coming soon. User submitted this.

[2019-05-18 02:04] mvincerx commented on #498
I successfully installed CL using clr-24960-live.desktop.iso to a Windows' hosted VirtualBox VM, using VirtualBox 6.0.8.

[2019-05-18 02:04] #498 closed

[2019-05-18 09:40] itsadok opened #521 "OVMF fails with ASSERT on kvm"
My host is ubuntu 19.04. I used OVMF.fd timestamped 18-May-2019 02:08, sha256sum start with `ecac18b7`.
I followed the instructions on the [Run as KVM Guest OS](https://clearlinux.org/documentation/clear-linux/get-started/virtual-machine-install/kvm), and after executing `./start_qemu.sh` the process hangs while taking 100% CPU, and the last line in debug.log is:

    ASSERT /builddir/build/BUILD/

[2019-05-19 19:26] puneetse opened #499 "Document how to increase number of open file descriptors"
**Do you think Clear Linux documentation needs a new document? Please describe.**
We need a document that describes how to increase the number of open files allowed. Certain applications require more than the default value.

**Should the new document be a guide, a reference, or a tutorial?**
Guide

**Describe or provide examples of similar documents, if possible, from other web sites**
https://com

[2019-05-19 19:55] puneetse opened #500 "Update nvidia driver documentation with upgrade instructions"
**Describe the error/improvement to an existing document or image**
https://clearlinux.org/documentation/clear-linux/tutorials/nvidia

- Update to include instructions on how to upgrade from one version of NVIDIA drivers to another (requires booting without desktop).

- Update to include `flatpak update` step after installation to pull the flatpak runtime corresponding to the NVIDIA driver for fla

[2019-05-20 16:31] mvincerx commented on #495
This will be addressed in #492.

[2019-05-20 22:48] mvincerx commented on #485
Closed per merge: https://github.com/clearlinux/clear-linux-documentation/pull/454/files

[2019-05-20 22:48] #485 closed

[2019-05-22 04:45] ttzeng opened #503 "Multi-boot no longer requires Clear Linux to be installed first"
**Describe the error/improvement to an existing document or image**
The step 1 of the multi-boot tutorial no longer valid since installer has been added to the image. For example, the live desktop installer can install Clear Linux to unused partitions.

**Additional context**
The current [multi-boot tutorial](https://clearlinux.org/documentation/clear-linux/tutorials/multi-boot) states:
Install Cl

[2019-05-22 05:13] ttzeng opened #504 "Tutorial on installing Clear Linux on Google Cloud Platform"
**Do you think Clear Linux documentation needs a new document? Please describe.**
Clear Linux has documentations on how to install the OS to [Microsoft Azure](https://clearlinux.org/documentation/clear-linux/tutorials/azure), [Amazon AWS](https://clearlinux.org/documentation/clear-linux/tutorials/aws-web), and other [virtual machine](https://clearlinux.org/documentation/clear-linux/get-started/vir

[2019-05-22 05:14] ttzeng commented on #504
I'm creating one, and will be submit a PR soon.

[2019-05-22 17:10] bktan8 commented on #503
@ttzeng  - Multi-boot doc is still relevant for BIOSes (such as Lenovo) that doesn't show more than 1 EFI partitions.   I have tested multiple Lenovo laptops and even though I was able to install Clear alongside another OS, Clear doesn't show up during POST when you tell it show bootable partitions.

[2019-05-22 18:03] krisdale commented on #478
Mixin confirmed to be deprecated. No longer supported.

[2019-05-22 19:06] mvincerx commented on #492
Closed this issue per closure of GH-493.

[2019-05-22 19:06] #492 closed

[2019-05-22 19:07] mvincerx commented on #495
Closed this issue per closure of GH-493.

[2019-05-22 19:07] #495 closed

[2019-05-22 20:59] mvincerx commented on #478
Per @pixelgeek, `mixin` removed from CL documentation.

[2019-05-22 21:03] mvincerx commented on #503
@bktan8 Are we OK to close this issue? You will also review GH-382, which updates multi-boot doc.

[2019-05-22 22:48] bktan8 commented on #503
@mvincerx - yes.

[2019-05-22 22:50] mvincerx commented on #503
Closed per @bktan8 feedback above. Revisions to multi-boot addressed in GH-382.

[2019-05-22 22:50] #503 closed

[2019-05-23 16:57] mvincerx commented on #480
Hey @krisdale. From our discussion last week, please take this and demo FileZilla.

[2019-05-23 20:09] iphutch opened #507 "Mixer documentation around certificates"
Input to extend/improve mixer documentation:
https://github.com/clearlinux/mixer-tools/issues/579

Could extend "how it works" documentation for this particular issue or influence docs on how to use mixer. Rchiossi also pointed out on IRC that descriptions on mixers basic use  such as how to remove bundles would also be beneficial.
https://clearlinux.org/documentation/clear-linux/guides/maintenanc

[2019-05-23 20:23] wildhevire opened #508 "Installation failure exit status 35"
![Screenshot from 2019-05-23 20-18-30](https://user-images.githubusercontent.com/9078000/58283502-f4aca680-7d97-11e9-9ca2-a8e2e789d36a.png)
I'm doing normal destructive installation with some additional bundles in my system
I can't find what failure code means

[2019-05-23 21:57] puneetse commented on #508
Hey @wildhevire. Can you open this issue in the clr-installer repo here: https://github.com/clearlinux/clr-installer/issues instead. It will be better served there.

It will also help if you can attach a copy of the `clr-installer.log`. It should be in $HOME or /

[2019-05-23 22:33] wildhevire commented on #508
Sorry for opening in wrong place, but now it works fine just reboot and try to install it again.
I'm not sure what happen here coz im really doing nothing

[2019-05-23 22:39] tpleavitt commented on #508
@wildhevire , could have been a hickup in your connection...sometimes it happens but swupd will try again

[2019-05-23 22:39] #508 closed

[2019-05-23 23:19] #500 closed

[2019-05-24 22:04] iuvbio opened #510 "VBox installation instructions"
The linked download page in the [VBox preconfigured instructions](https://clearlinux.org/documentation/clear-linux/get-started/virtual-machine-install/virtualbox) defaults to a live.iso file **not** a live.img file.

![image](https://user-images.githubusercontent.com/13389526/58358273-85f64880-7e7e-11e9-91ec-49ae03dfe13a.png)

The conversion from iso to vdi works as well, causing a vdi file to be

[2019-05-24 22:28] puneetse commented on #510
@iuvbio sorry for the confusion. We're aware of it and working on unifying the virtualbox instructions.
In the mean time I suggest using the live-server ISO to boot from and manually installing.

[2019-05-28 03:48] puneetse opened #512 "CPU power/thermal and performance documentation"
**Do you think Clear Linux documentation needs a new document? Please describe.**
A document giving an overview of CPU frequency scaling, P-state, C-state, turbo boost etc. and stating that Clear Linux uses the performance CPU governor by default for maximum performance.

Include how to change the CPU governor, how BIOS CPU frequency/power features will take precedence, and how to enable thermald

[2019-05-28 16:19] mvincerx commented on #510
@iuvbio. If you like, you can follow the draft version in GH-502, where we're using the `live-server` iso.
Thanks for your patience.

[2019-05-28 16:19] #510 closed

[2019-05-28 21:21] intelkevinputnam commented on #470
@bd-dean Do you have any BKMs for this?

[2019-05-28 21:29] bd-dean commented on #470
I have a script snippet I add to .bashrc or /etc/profile that determines if the system is in the corporate network and sets proxy if so. This works for terminal/CLI use, which is my most frequent useage.

[2019-05-28 21:37] intelkevinputnam commented on #470
@bd-dean I'll take it! Can you send me a copy?

[2019-05-28 21:39] intelkevinputnam commented on #470
@ahkok I haven't used redsocks before. What's the best resource to start with?

[2019-05-29 17:49] tpleavitt commented on #507
@rchiossi , can you describe the components that are missing so we can add to a trouble-shooting section in the mixer doc

[2019-05-29 20:38] tpleavitt opened #516 "Automate the broken links detection in https://clearlinux.org site"
Over time, some broken links in the clearlinux.org site have been reported both on IRC (#clearlinux @ freenode) and in mailing lists.

If we could have a job constantly running to check broken links, we could avoid our users get hit by 404 pages.

Issue copied from CLEAR-1637

[2019-05-29 20:39] tpleavitt commented on #516
This will be implemented when new docs site goes online

[2019-05-29 20:42] tpleavitt opened #517 "Multi-boot Clear Linux with other operating systems Needs to be refactored"
Need to update the multi-boot documentation to include discussion about clear boot and reduce list of tested OS's to Ubuntu and Fedora along with Windows 10.

Reported in CLEAR-3987

Updates to the installer also need to be be factored into this document

[2019-05-29 20:58] tpleavitt opened #518 "New guide: Run Clear as a Parallels* guest OS"
New guide requested by Tan, Bun K : Run Clear as a Parallels* guest OS.

Guide draft already done (on local branch).

Updated instructions:

Run Clear Linux as a Parallels guest OS*
Note: Tested against Parallels 14 and Clear 28020

1. Download ISO installer from https://download.clearlinux.org/image/
2. $ gunzip clear-<version>-installer.iso.xz
3. Start Parallels and initialize VM
    1. Go to “F

[2019-05-29 21:02] tpleavitt opened #519 "Tutorial on how to install and use Redis"
This would be useful because CL packages Redis in an unsusual bundle name and to highlight the stateless configuration with CL: https://github.com/clearlinux/distribution/issues/565

Moved from CLEAR-4224

[2019-05-29 21:06] tpleavitt opened #520 "Document current state of ffmpeg and manual install"
Lack of ffmpeg seems to be the root of a lot of complaints with Clear and lots of chatter about it.

We cannot distribute the package due to licensing/legal restrictions

People have documented a manually method of installing: https://github.com/clearlinux/distribution/issues/429

It would be good to make this part of the documentation for those searching and explain the legal issues around ffmpeg

[2019-05-30 15:57] mvincerx commented on #521
You indicated your "host is Ubuntu..", so we cannot support this use case. I encourage you to adopt Clear Linux* OS as your host. Checkout our [new desktop installer documentation](https://clearlinux.org/documentation/clear-linux/get-started/bare-metal-install-desktop).

[2019-05-30 17:18] intelkevinputnam commented on #470
@ahkok , @tpleavitt @bd-dean @phmccarty

I've started a PR for this issue. Please take a look: https://github.com/clearlinux/clear-linux-documentation/pull/514

[2019-05-30 20:41] castulo opened #522 "swupd commands introduced to supersed verify"
**Describe the error/improvement to an existing document or image**
There were some recent changes to the swupd command line (in swupd version 3.20.0), to try to make it more intuitive for users. These are the changes introduced:
 - the `swupd verify` command has been superseded by `swupd diagnose`
- the `swupd verify --fix` command has been superseded by `swupd repair`
- the `swupd verify --insta

[2019-05-30 21:26] busykai commented on #521
@mvincerx, installer has nothing to do with the issue in question. Please read carefully the original report. Our [documentation](https://clearlinux.org/documentation/clear-linux/get-started/virtual-machine-install/kvm) *clearly* refers to Ubuntu as the host (and it should).

[2019-05-30 21:56] mvincerx commented on #521
I apologize.

[2019-05-30 23:21] bktan8 opened #523 "INSTALL CLEAR LINUX USING CLR-INSTALLER WITH A CONFIG FILE"
**Do you think Clear Linux documentation needs a new document? Please describe.**
Need a document on how to install Clear using clr-installer with a config file. See attached PDF.
Target audience: Developer; System Administrator; or Basic User.

**Should the new document be a guide, a reference, or a tutorial?**
Guide.

[INSTALL CLEAR LINUX USING CLR-INSTALLER WITH A CONFIG FILE.pdf](https://githu

[2019-05-31 04:39] busykai commented on #521
@mvincerx, no problem at all! :) just making sure we keep track of it. thanks!

[2019-05-31 20:55] #504 closed

[2019-05-31 21:10] mvincerx opened #524 "Corrections to CL Compute Engine guide"
**Describe the error/improvement to an existing document or image**
https://clearlinux.org/documentation/clear-linux/get-started/virtual-machine-install/gce

TCS editorial review. Apply your magic, plus, please:
- Correct URLs
- Add figure numbers and references to them where appropriate

Note: Use case has been validated.

**Additional context**
Reference previous: GH-505

[2019-06-04 18:29] pixelgeek commented on #478
Please add a warning at the top of https://clearlinux.org/documentation/clear-linux/guides/maintenance/mixin for those getting to that page via a google search.

[2019-06-04 22:44] bktan8 opened #527 "How to query package information from upstream repos"
**Do you think Clear Linux documentation needs a new document? Please describe.**
Would like to suggest a document (see attached) on how to query package information from the upstream repo.  This is more of a "tip-and-trick" for developers/advanced users.

**Should the new document be a guide, a reference, or a tutorial?**
TBD.  Would be nice to have a "Tips and Tricks" section.  At the very least

[2019-06-05 01:34] puneetse commented on #464
Now that GCC7 has been packaged in CL as part of the `c-extras-gcc7` this is possible.

[2019-06-05 03:29] lebensterben commented on #464
I will write one when I got time.

[2019-06-05 18:13] tpleavitt opened #528 "Create documentation for using swupd third party"
**Do you think Clear Linux documentation needs a new document? Please describe.**
Document how to use swupd third party

**Should the new document be a guide, a reference, or a tutorial?**
guide

[2019-06-05 21:41] mvincerx commented on #527
Kris, please work with @bktan8 on this. @bktan8 Thanks for this neat tool.  I recommend adding a couple successful console output for 1-2 query commands in the PDF.

[2019-06-05 22:18] mvincerx commented on #478
I'm filing a ticket internally because this is a Drupal node error, not a documentation error.
Note:
I add a note regarding  deprecation of `mixin` here: https://clearlinux.org/documentation/clear-linux/guides
I removed the file `mixin` in GH-506. Read the [PR diff](https://github.com/clearlinux/clear-linux-documentation/commit/4b00a981d70b4d973b50891a441b57f227c0612d) to the very bottom.

[2019-06-06 15:31] mvincerx commented on #478
Ticket closed this morning. Closing this issue. See my email.

[2019-06-06 15:31] #478 closed

[2019-06-06 21:26] #519 closed

[2019-06-07 12:31] puneetse commented on #475
@intelkevinputnam there are examples for reference here https://community.clearlinux.org/t/how-to-remove-quiet-kernel-option/693/2 and in the kernel-modules document.

[2019-06-07 16:37] tpleavitt opened #532 "Update Clear Linux OS image type documentation"
The document https://clearlinux.org/documentation/clear-linux/guides/maintenance/image-types#image-types is out of date and needs to be updated to include the new installer iso images.  I've made a similar request in https://github.com/clearlinux/distribution/issues/865

[2019-06-07 16:39] tpleavitt opened #533 "Update the Clear Linux VMWare installation guide"
Update the content of the https://clearlinux.org/documentation/clear-linux/get-started/virtual-machine-install/vmw-player documentation to use the correct image to create a VM

[2019-06-07 20:49] tpleavitt commented on #533
Some specifics:
- update which image to download.  Currently we say:
Get the latest Clear Linux OS installer ISO image from the image  repository. Look for clear-[version number]-installer.iso.xz.
and of curse we have changed these to the live-desktop and live-server ISO files.  Later in the guide we specifically point them to the bare-metal installer, which uses the GUI so suggest you highlight t

[2019-06-10 17:47] krisdale commented on #462
@puneetse and I will work together to determine if this is best as a blog post or tutorial showing how to troubleshoot this sort of non-bundle installation that requires manual help.

[2019-06-10 17:50] bktan8 opened #536 "Update the QEMU-KVM documentation"
**Describe the error/improvement to an existing document or image**
Update the QEMU-KVM documentation to test with latest 3rd-party distros; when / when not to use the Clear OVMF.fd file, and update the start_qemu.sh to use Spice instead of VNC.
https://clearlinux.org/documentation/clear-linux/get-started/virtual-machine-install/kvm

[2019-06-10 17:51] tpleavitt commented on #481
Need to update the flathub.org website to use desktop-autostart as well

[2019-06-10 17:55] #536 closed

[2019-06-10 17:56] bktan8 commented on #536
disregard

[2019-06-10 22:16] puneetse opened #538 "How to install and use PHP extensions"
**Do you think Clear Linux documentation needs a new document? Please describe.**
This topic has come up a few times so it would be nice to have a document for it. The statelessness of CL is probably the most unique part.

**Should the new document be a guide, a reference, or a tutorial?**
guide

**Additional context**
https://community.clearlinux.org/t/how-to-install-php-extension-ext-imagick/298

[2019-06-10 22:17] #522 closed

[2019-06-10 22:19] puneetse opened #539 "How to troubleshoot clr-installer failures"
**Do you think Clear Linux documentation needs a new document? Please describe.**

This could be a new document or added to an existing one. It is frequently asked how to diagnose installer issues, where relevant logs are, what certain codes indicate etc.

**Should the new document be a guide, a reference, or a tutorial?**
guide

**Additional context**
@mdhorn

[2019-06-10 22:21] puneetse opened #540 "How to use FUSE debug feature of CL"
**Do you think Clear Linux documentation needs a new document? Please describe.**
Add documentation on how to use the FUSE debugging feature of Clear Linux for developers.

**Should the new document be a guide, a reference, or a tutorial?**
tutorial

[2019-06-10 22:34] puneetse opened #541 "Document iptables firewall and default rulesets"
**Do you think Clear Linux documentation needs a new document? Please describe.**
Document which firewall CL uses, no FW rules are set by default, and how to save/restore with systemd units.

This is not unique to Clear Linux.

**Should the new document be a guide, a reference, or a tutorial?**
guide

**Describe or provide examples of similar documents, if possible, from other web sites**
https://

[2019-06-11 18:50] tpleavitt commented on #532
@intelkevinputnam , can you work with @gtkramer and make this a high priority.  He wants to get these updated this week if possible.

[2019-06-12 00:15] gtkramer commented on #532
source/clear-linux/guides/maintenance/validate-signatures.rst also needs updated to no longer reference the installer image.

[2019-06-12 00:31] gtkramer commented on #532
The following is the tentative list of correct image types that we officially publish and should have listed as image types in our documentation:
* aws
* azure
* azure-docker
* azure-machine-learning
* cloudguest
* gce
* hyperv
* kvm
* legacy-kvm
* live-desktop
* live-server
* pxe
* vmware

[2019-06-13 00:20] bktan8 opened #543 "Add note to baremetal doc. about some BIOS may not show Clear partition if it's installed along-side another OS"
**Describe the error/improvement to an existing document or image**
Clear allows installation along-side another OS.  During BIOS POST stage, you can select a bootable devices/partitions on a drive.  Some BIOSes can present multiple bootable partitions during this stage, but some will only show 1 bootable partition on a drive.

For example, on a NUC, if you install Windows and then install Clear a

[2019-06-13 21:43] gtkramer commented on #532
The images link in https://clearlinux.org/documentation/clear-linux/guides/maintenance/image-types#image-types should point to https://clearlinux.org/downloads to avoid redirecting people to our file server.

[2019-06-13 21:44] gtkramer commented on #532
https://clearlinux.org/downloads will be updating in the next day or two here to expose the full list of images above, adding aws, pxe, and gce.

[2019-06-13 21:46] gtkramer commented on #532
README-IMAGES.html has been removed from the file server in favor of people going to https://clearlinux.org/downloads or visiting the public documentation for image types.

[2019-06-14 17:58] puneetse opened #545 "Stateless concept page"
**Do you think Clear Linux documentation needs a new document? Please describe.**
A page on statelessness that goes into more detail than https://clearlinux.org/about

**Should the new document be a guide, a reference, or a tutorial?**
Concept

**Describe or provide examples of similar documents, if possible, from other web sites**
https://clearlinux.org/about
https://github.com/clearlinux/clr-man

[2019-06-14 19:42] gtkramer commented on #532
@bktan8 fyi

[2019-06-14 20:05] mdhorn opened #546 "Remove or Update Live Beta getting started guide"
**Describe the error/improvement to an existing document or image**
The is an outdated getting started guide which is found via search which still references the older live beta image.  Please remove or update.

**Screenshots**
https://clearlinux.org/documentation/clear-linux/get-started/bare-metal-install-beta

[2019-06-14 20:08] tpleavitt commented on #546
Thanks for catching that @mdhorn , we'll get it removed asap!

[2019-06-14 20:09] tpleavitt commented on #546
@krisdale , can you remove this guide?

[2019-06-14 20:14] tpleavitt commented on #546
FYI, it can only be found through the search function, I don't see any specific links to it from the menus or other documents

[2019-06-14 21:15] mdhorn commented on #546
@tpleavitt Yeah, I didn't see a direct link but was searching for something and that came up at the top.

[2019-06-14 22:21] intelkevinputnam commented on #532
@gtkramer Got it. Working up a PR now.

[2019-06-14 23:01] intelkevinputnam commented on #532
PR#548 opened to address this.  https://github.com/clearlinux/clear-linux-documentation/pull/548

[2019-06-16 22:50] rana commented on #464
Any documentation on a successful cuda install and cudnn install would be appreciated.
I'm trying to work though it by combing a couple links. I know I'll work through it, but its slower without the guide. Thank you.

https://clearlinux.org/documentation/clear-linux/tutorials/nvidia#uninstalling-the-nvidia-drivers
https://www.reddit.com/r/ClearLinux/comments/b1gbbz/nvidiacuda_in_clear_linux_succes

[2019-06-17 09:26] ttzeng commented on #516
I remember Sphinx has a URL validator built-in, that can be used to report broken links in .rst files. I think we can use that mechanism periodically while compiling .rst files in the clear-linux-documentation folder. :)

[2019-06-17 19:52] tpleavitt opened #552 "Update the KVM document to download correct image"
**Describe the error/improvement to an existing document or image**
The devops team has recently changed the naming convention for the KVM image file and included changing the legacy-kvm image to kvm-legacy.  This brakes the script to grep the latest-images file and download the correct image.

**Environment (please complete the following):**
 - Clear Linux OS version: 29920

[2019-06-18 00:16] lebensterben commented on #464
@rana
1. First you need to install NVIDIA proprietary drivers and you can follow the Clear Linux tutorial. But you have to remove `--no-nvidia-modprobe` when you invoke the installation script. Alternatively, I've written some bash scripts to automate this, which is available [here](https://github.com/lebensterben/clear-linux/tree/TidyShell/NVIDIA-Driver)
2. If your kernel version is >5.0 and you

[2019-06-18 06:03] rana commented on #464
Thank you for making the time to post such clear and detailed instructions.

[2019-06-18 06:39] ttzeng commented on #516
I just run the Sphinx ``linkcheck`` builder against the current HEAD ``be3c7f0``, there is no broken link in the except a false alarm.

[2019-06-18 17:17] gtkramer opened #554 "Remove container-host-kvm.img as an image type"
**Describe the error/improvement to an existing document or image**
Remove container-host-kvm.img (along with its description mentioning Clear Containers) from the list of image types because it is considered a development image and not a production image.

https://clearlinux.org/documentation/clear-linux/guides/maintenance/image-types

**Screenshots**
N/A

**Environment (please complete the follo

[2019-06-18 17:24] krisdale commented on #532
Issue resolved with PR #548

[2019-06-18 17:24] #532 closed

[2019-06-18 17:38] krisdale commented on #554
Resolved with PR #555 .

[2019-06-18 17:38] #554 closed

[2019-06-18 17:43] tpleavitt commented on #552
resolved with PR #551

[2019-06-18 17:44] #552 closed

[2019-06-18 23:51] puneetse opened #556 "Update assign static IP document to use NetworkManager"
**Describe the error/improvement to an existing document or image**
See https://github.com/clearlinux/distribution/issues/915

The current documentation on how to assign a static IP address uses systemd-netword. the default in CL has since switched to NetworkManager as the default NIC manager.

The documentation should be updated to use primarily use NM have  systemd-networkd instructions as optio

[2019-06-20 16:12] puneetse opened #557 "Modify DKMS doc to include AUTOINSTALL=yes requirement"
**Describe the error/improvement to an existing document or image**
Update DKMS document to include a mention about `AUTOINSTALL=yes` needing to be set in a modules DKMS module if the user wants DKMS to automatically install with kernel updates.

**Additional context**
https://community.clearlinux.org/t/dkms-not-triggered-on-update/832

[2019-06-20 18:38] #512 closed

[2019-06-21 00:22] pixelgeek opened #558 "Telemetry page includes a command that no longer works"
At the bottom of the page https://clearlinux.org/documentation/clear-linux/guides/telemetrics/telemetry-config#telemetry-config

sudo mkdir -p /etc/telemetrics
sudo echo "unique machine ID" > /etc/telemetrics/opt-in-static-machine-id
results in a
-bash: /etc/telemetrics/opt-in-static-machine-id: Permission denied

**Environment (please complete the following):**
 - Clear Linux OS version: 30010

r

[2019-06-21 18:27] eadamsintel opened #559 "Where is launcher.py in the DLRS tutorial?"
I am following the tutorial at https://clearlinux.org/documentation/clear-linux/tutorials/dlrs#kubeflow-multi-node-benchmarks  and it says the following

Images
You must add launcher.py to the Docker image to include the Deep Learning Reference Stack and put the benchmarks repo in the correct location. From the Docker image, run the following:

`
mkdir -p /opt
git clone https://github.com/tensorfl

[2019-06-21 18:32] eadamsintel opened #560 "When following DLRS tutorial and running MKL container on non AVX-512 throws illegal exception"
This seems like it is a bug in the error reporting but the tutorial should either mention this illegal instruction or ideally the error reporting will be fixed in the container to indicate a non AVX-512 system is being used.  See below.

[code]

[2019-06-21 23:22] jonobacon opened #562 "Missing Bundles guide"
https://clearlinux.org/documentation/clear-linux/guides/maintenance/mixin is 404ing.

[2019-06-21 23:27] tpleavitt commented on #562
Hi @jonobacon , mixin has been been deprecated.  See https://clearlinux.org/documentation/clear-linux/guides

What brought you to this link for mixin?

[2019-06-24 17:37] tpleavitt commented on #562
Expected behavior, closing

[2019-06-24 17:37] #562 closed

[2019-06-24 18:05] tpleavitt commented on #523
@MCamp859 , please work with @bktan8 , who has written the procs and needs to convert to .rst

[2019-06-24 20:14] tpleavitt commented on #558
@bwarden , this command used to work and now doesn't.  If I do a `sudo su` and then run the command as root it works fine.  Is there something that changed that would cause this original command to stop working?

[2019-06-24 20:16] krisdale commented on #524
Resolved with #534

[2019-06-24 20:16] #524 closed

[2019-06-24 20:26] tpleavitt commented on #546
This has been fixed

[2019-06-24 20:26] #546 closed

[2019-06-24 20:33] bwarden commented on #558
The shell redirect works as the owner of the shell; it happens before the sudo. This would only have worked before if you were already root, or if you otherwise had write permission to the directory.

Can be reworked as:
`echo "unique machine ID" | sudo tee /etc/telemetrics/opt-in-static-machine-id`
or more obscure overall, but starting with sudo for less copy/paste confusion:
`sudo tee /etc/telem

[2019-06-24 20:35] bwarden commented on #558
I stole the second version from @miguelinux; he might have even more exciting suggestions :)

[2019-06-24 20:37] mdhorn commented on #546
@mdhorn Thanks Tom.

[2019-06-24 20:42] tpleavitt commented on #558
@bwarden , thanks!  I'll use the first one you listed since it is straight-forward.

[2019-06-25 17:07] crsawyer314 opened #563 "launcher.py file in DLRS tutorial is outdated"
The launcher.py file found at https://github.com/clearlinux/dockerfiles/blob/4e976ab8e37cce9dd93fe5de871d0cf4d7c138e0/stacks/dlrs/kubeflow/launcher.py is 7 months old. It looks like Kubeflow has released a more recent version of this file at https://github.com/kubeflow/kubeflow/blob/master/tf-controller-examples/tf-cnn/launcher.py (only 4 months old). We may want to consider replacing our file wit

[2019-06-25 17:12] DnPlas commented on #563
Hi @crsawyer314, thanks for reporting this. I'll assign this myself and will take a look at it.

[2019-06-25 17:20] mvincerx commented on #563
@DnPlas. I'll be opening a new PR on the DLRS tutorial this week--with @bd-dean--to capture this and more feedback, beyond the `launcher.py` file.  @DnPlas I'll add you as a review on the new PR--TBD.

[2019-06-25 22:31] biapalmeiro opened #567 "Error to verify the integrity of the Clear Linux OS image"
There is an extra ./ at the beginning of the following command:
shasum -a512 ./clear-[version number]-[image type].[compression type] | diff ./clear-[version number]-[image type].[compression type]-SHA512SUMS -

At this tutorial:
https://clearlinux.org/documentation/clear-linux/guides/maintenance/download-verify-decompress-mac#verify-mac

OS: MacOS Majave 10.14.5

[2019-06-26 19:09] bd-dean commented on #563
Created PR #570 to address linking launcher.py.  That PR will be valid if the current location of launcher.py is not changed.

[2019-06-26 20:30] crsawyer314 opened #571 "Wordsmithing on the Run Kubernetes* tutorial"
The Kubernetes tutorial could use some fleshing out for brand new users. Specific parts include:

Under Configure and run Kubernetes:

Step 2. Enter the commands:
-this could be clearer. What do the commands do, and why run them? Just a simple statement like, 'Enter the commands below to <insert simple explanation here>':

Step 3
-this mentions kubectl, but the user may not know what that is at th

[2019-06-26 22:27] bd-dean opened #572 "Remove ksonnet from dlrs tutorials"
The DLRS tutorial describes using ksonnet to manage deployments.  ksonnet is deprecated and no new work is being done on it.  Ksonnet should be removed from the tutorial and replaced with an alternative.

**Additional context**
The team behind ksonnet is stepping back from the project. As a result, work on ksonnet will end and the GitHub repositories will be archived.

[2019-06-27 00:25] #540 closed

[2019-06-27 00:31] #545 closed

[2019-06-27 22:03] puneetse opened #576 "Update minimum requirements document (desktop vs server)"
**Describe the error/improvement to an existing document or image**
With the introduction to the live-desktop installers, the minimum required memory is different for the live-desktop. This should be updated in the [minimum requirements documentation](https://clearlinux.org/documentation/clear-linux/reference/system-requirements)

See https://github.com/clearlinux/distribution/issues/864

**Additi

[2019-06-28 16:05] #520 closed

[2019-06-28 16:15] #557 closed

[2019-06-28 16:49] DnPlas commented on #563
@crsawyer314 Please note our documentation is using Kubeflow v0.4.0, meaning we should align launcher.py to what they have on such branch and not master/latest or v0.5.0. We will update launcher.py and all needed files as we move to v0.5.0. We can close this issue if everyone agree.

[2019-06-28 17:45] ebrent8 opened #577 "Installer instructions could be more clear and descriptive"
**On the Clear Linux installer header "Launch the Clear Linux OS installer" on this page:**
[https://clearlinux.org/documentation/clear-linux/get-started/bare-metal-install-desktop](https://clearlinux.org/documentation/clear-linux/get-started/bare-metal-install-desktop)

**Problem Description**
The steps below that header and screenshot could be much clearer.

Step 2 : should describe which icon e

[2019-06-28 17:46] #559 closed

[2019-06-28 17:46] #560 closed

[2019-06-28 17:51] mvincerx commented on #563
This is now moot per release of GH-570, in which the requirement was stated for using Kubeflow 0.4.0.

[2019-06-28 17:51] #563 closed

[2019-06-28 17:52] tpleavitt commented on #577
Great feedback!  We'll look into it

[2019-06-28 18:29] puneetse opened #578 "Images not rendering properly on new pages"
**Describe the error/improvement to an existing document or image**
Provide a clear and concise description of the error or proposed improvement.

Images on the stateless page are not rendering: https://clearlinux.org/documentation/clear-linux/concepts/stateless

The relative image path reference in GH is correct and renders:
https://github.com/clearlinux/clear-linux-documentation/blob/master/sour

[2019-06-28 18:35] puneetse commented on #578
The same issue for the recently published debug document:
https://clearlinux.org/documentation/clear-linux/guides/tooling/debug
https://github.com/clearlinux/clear-linux-documentation/blob/master/source/clear-linux/guides/tooling/debug.rst

[2019-06-28 19:29] mvincerx commented on #577
@ebrent8 Thanks for the feedback.

[2019-06-28 19:45] mvincerx commented on #578
I filed a ticket on the bug Thursday for error in `debug.rst` and another ticket Friday 28 June on `stateless.rst`.  I'll keep you posted on the status of these tickets.

[2019-06-28 22:43] mvincerx opened #579 "Reorg: Moves Stacks tutorials to new Stacks section in guides.rst"
**Describe the error/improvement to an existing document or image**
1. Add a new Stacks section in guides.rst
https://clearlinux.org/documentation/clear-linux/guides

2. Migrate all tutorials from here, https://clearlinux.org/documentation/clear-linux/tutorials, to the above guides location.

3. Revise word usage from tutorial to guides in all stacks-related tutorials.

**Additional context**
Add

[2019-06-28 22:43] mvincerx commented on #579
@crsawyer314 I will help you with this next week.

[2019-07-01 15:55] #556 closed

[2019-07-01 17:18] biapalmeiro opened #581 "Error 404 for new doc entries"
Page not found for the links below:
https://clearlinux.org/documentation/clear-linux/guides/maintenance/cpu-performance
https://clearlinux.org/documentation/clear-linux/tutorials/tutorial-proxy

[2019-07-01 18:17] tpleavitt commented on #480
Focus on filezilla for now

[2019-07-01 18:22] #470 closed

[2019-07-01 18:22] puneetse commented on #464
@lebensterben FYI I started writing up the documentation for this. I'll add you for optional review when the PR is ready.

[2019-07-01 18:51] rana commented on #464
FYI, some hurdles which may or may not be relevant.

I had a Clear Linux installation fail after `swupd update` with Nvidia drivers and cuda installed. Not clear why. Had native kernel and `gcc` file linked to gcc-8. Not sure if native kernel update did not like nvidia kernel module or that recompile kernel with gcc-8 was the cause? Or something else? Have not seen clear instructions on how to ins

[2019-07-01 19:06] mvincerx commented on #581
I filed issues on these this morning. I will monitor the progress and update you here.

[2019-07-01 20:01] tpleavitt commented on #558
@bd-dean , when you add the section back to the telemetry guide for configuring the static machine id would you change the command for creating the opt-in-static-machine-id file to:
$ echo "unique machine ID" | sudo tee /etc/telemetrics/opt-in-static-machine-id

[2019-07-01 20:11] crsawyer314 opened #583 "Clear logo not fully showing"
**Describe the error/improvement to an existing document or image**
Clear Linux logo not fully showing when in full screen or split-screen in Firefox on Ubuntu 18.04.2 LTS.

**Screenshots**
![Screenshot from 2019-07-01 13-03-51](https://user-images.githubusercontent.com/39068473/60463554-27508700-9c01-11e9-94bb-4ee89c78f6c8.png)
![Screenshot from 2019-07-01 13-00-00](https://user-images.githubuser

[2019-07-01 21:19] lebensterben commented on #464
@puneetse thx

[2019-07-01 21:22] lebensterben commented on #464
`CUDA 10.1` works with `gcc8` but `tensorflow` doesn't support `CUDA 10.1`.

BTW, you can compile `CUDA 10.1` or `CUDA 10.0` even with `gcc9` but anything needs `CUDA` won't run.

[2019-07-02 13:12] Akiyamka opened #587 "nvidia drivers tutorial - NVIDIA driver is not loaded"
**Describe the error/improvement to an existing document or image**
After complete all steps in fresh Clear Linux installation nvidia drivers not loaded.
Seems to have forgotten a some step

Current state after install and reboot:
[code]

**Environment (please complete the following):**
 - Clear Linux OS version:
[code]
 - Third-party tool/software:
[code]

[2019-07-02 15:35] puneetse commented on #587
It looks like the driver is loaded but maybe the hardware isn't being used.

What's the model of laptop you're using? If it has a hybrid/switchable graphics (NVIDIA Optimus), you may need to force it to use the NVIDIA device and getting it working on Linux has known challenges. A first troubleshooting step would be to try disabling the Intel graphics card completely.

You might get better support

[2019-07-02 18:55] mrkz opened #590 "Specify to select UEFI USB boot option in boot menu for installation guide"
Probably a note for step 3 in https://clearlinux.org/documentation/clear-linux/get-started/bare-metal-install-desktop#install-from-live-image

Some HW may list  UEFI and non-UEFI entries USB boot entries. Selecting non-UEFI may lead to the following bug report:

The answer was in the boot sequence options in the bios
Once the usb stick was in , there were 2 options in the boot sequence:
-- usb san

[2019-07-02 20:40] tpleavitt commented on #583
@mvincerx , this is actually a website issue so if you could include it as part of your items you're tracking with the site...thanks!

[2019-07-02 21:07] intelkevinputnam commented on #475
@puneetse, how easy is it to make the system non-bootable if you screw around with boot parameters using these steps?

[2019-07-02 22:18] mvincerx opened #593 "NVIDIA: Please review for trademarks, grammar, and conciseness."
**Describe the error/improvement to an existing document or image**
NVIDIA: Please review for trademarks, grammar, and conciseness.
https://github.com/clearlinux/clear-linux-documentation/blob/master/source/clear-linux/tutorials/nvidia.rst

[2019-07-02 22:46] #543 closed

[2019-07-02 23:52] puneetse commented on #475
It depends on what kernel parameter is being modified and how knowledgeable the user is about the change thy're trying to make (presumably they got to this point after trying something, and are not looking to make their change persistent)

The example on the forum removed the "quiet" parameter which is harmless.

[2019-07-03 00:03] intelkevinputnam commented on #475
Thanks @puneetse. I realize the "quiet" parameter is harmless. I was mainly debating whether I ought to add some strongly worded warnings about changing things without knowing what you're doing, which might result in a non-bootable system.

[2019-07-03 00:03] intelkevinputnam commented on #475
@puneetse And even better. How would I recover from such a mistake?

[2019-07-03 00:11] mvincerx commented on #567
I don't see an extra `./` at the beginning of the command. I just downloaded the latest live-desktop, 30140, and its corresponding SHA512SUMS file, and it worked fine.  I'm running MacOS High Sierra, but that shouldn't make a difference.  Are you sure you included the final "-" at the end of the command?

[2019-07-03 16:30] Akiyamka commented on #587
@puneetse
Thank you for your links! After some research I came to understand that only one nvidia card and two cards in one laptop it's are quite different things. As I understand it, one of the easiest ways is switching manually between cards using `prime` or `nvidia-xrun`. Unfortunately, I have not yet found a way to install `nvidia-xrun`. Can I use [guides for fedora](https://copr.fedorainfracl

[2019-07-08 16:56] ghindman commented on #581
https://clearlinux.org/features/telemetry is also dead

[2019-07-08 16:59] biapalmeiro commented on #581
@ghindman Please, foloow this link for telemetry info:
[https://clearlinux.org/documentation/clear-linux/concepts/telemetry-about](url)

[2019-07-08 17:03] ghindman commented on #581
Found that, yes, thanks - was just reporting the dead page.

[2019-07-08 17:07] biapalmeiro commented on #581
Thanks

From: Gavin Hindman <notifications@github.com>
Reply-To: clearlinux/clear-linux-documentation <reply@reply.github.com>
Date: Monday, July 8, 2019 at 10:03 AM
To: clearlinux/clear-linux-documentation <clear-linux-documentation@noreply.github.com>
Cc: "Palmeiro, Beatriz" <beatriz.palmeiro@intel.com>, Author <author@noreply.github.com>
Subject: Re: [clearlinux/clear-linux-documentation] Error

[2019-07-08 17:10] mvincerx commented on #581
Thanks for bring it up, @ghindman. The above is not a dead. Instead we moved that content here: https://clearlinux.org/documentation/clear-linux/guides/telemetrics/telem-guide

You may notice several `feature` sections from our old website (<May 2019) are now integrated into our guides with our new site, like with telem-guide.

You may receive a 404 because we have internally reorganized some sect

[2019-07-08 17:12] mvincerx commented on #581
Above two pages are now restored. Again, thanks for your patience as we work through this.

[2019-07-08 17:12] #581 closed

[2019-07-08 17:37] mvincerx commented on #578
Fixed.

[2019-07-08 17:37] #578 closed

[2019-07-08 17:41] mvincerx commented on #521
Closed.

[2019-07-08 17:41] #521 closed

[2019-07-08 17:41] mvincerx commented on #538
In progress.

[2019-07-08 17:44] mvincerx commented on #583
@krisdale will investigate. Thanks.

[2019-07-08 17:45] mvincerx commented on #587
@puneetse will follow up. Thanks.

[2019-07-08 17:46] mvincerx commented on #590
@mvincerx and @bd-dean will work on it.

[2019-07-08 17:47] mvincerx commented on #579
Hold until @bd-dean lets us know.

[2019-07-08 17:49] mvincerx commented on #567
@bd-dean please test.

[2019-07-08 17:52] mvincerx commented on #572
@bd-dean will review and advise. Thanks.

[2019-07-08 17:55] mvincerx commented on #541
Hold until clarity on new firewall packages. See also FAQ doc for now.

[2019-07-08 18:02] mvincerx commented on #481
@krisdale Please look into this for us.
https://flatpak.org/setup/Clear%20Linux/

[2019-07-08 18:04] mvincerx commented on #499
@puneetse Please take the lead on this. Thanks.

[2019-07-08 18:05] mvincerx commented on #499
Consider adding to the FAQ.

[2019-07-08 18:12] mvincerx commented on #583
Please leave open until Web support resolves.

[2019-07-08 18:13] mvincerx opened #599 "Please revise the sitemap to include the FAQ."

[2019-07-08 18:26] bd-dean commented on #567
Ran twice, once with the ./ and once without.  Removing the ./ from the command results in no output from shasum, which is what the tutorial states is a "match".  Recommend we remove ./ from the command in both places it exists in this section of the tutorial.

Output
mac01:Downloads #  shasum -a512 ./clear-30210-aws.img.xz | diff ./clear-30210-aws.img.xz-SHA512SUMS -
1c1
< 6bc4f0c3fa878e21c7d7bff

[2019-07-08 18:45] bktan8 commented on #567
I second @bd-dean's recommendation.

[2019-07-08 18:47] bktan8 commented on #567
@MCamp859 - Can you please create a quick PR for this, remove the 2 "./" and I'll do final review?
The new command code-block should say:

shasum -a512 clear-[version number]-[image type].[compression type] | diff clear-[version number]-[image type].[compression type]-SHA512SUMS -

[2019-07-08 18:58] #599 closed

[2019-07-08 19:08] mvincerx commented on #567
Agreed on @bd-dean comments. @MCamp859 please let me know if you have questions.

[2019-07-08 21:09] mvincerx commented on #481
A user can just run `sudo swupd bundle-add `flatpak` now, or install it using `desktop`.
I believe this command should be revised according to the former.

I agree it would be good to install `desktop-autostart` too, but this is a separate issue. Can you please clarify what you mean by this comment?

[2019-07-09 16:22] #590 closed

[2019-07-09 16:26] mvincerx commented on #593
Closed per GH-601.

[2019-07-09 16:26] #593 closed

[2019-07-09 17:02] mvincerx commented on #567
Closed per GH-602.

[2019-07-09 17:02] #567 closed

[2019-07-10 16:04] #558 closed

[2019-07-10 16:14] mvincerx commented on #481
@bktan8. Do you have any thoughts on this?

[2019-07-10 16:32] bktan8 commented on #481
My rationale for installing `desktop-autostart` instead of `desktop` is that the GUI will start automatically, whereas with the regular `desktop` bundle, you have to manually start it.  `desktop` is a subset of `desktop-autostart` and would make easier for the user instead of trying to figure out to launch the GUI.  Here's the bundle definition of `desktop-autostart`:
`
# [TITLE]: desktop-autostar

[2019-07-10 17:05] mvincerx commented on #481
@bktan8. Thanks for sharing your rationale. Sounds like a plan. I'll update the PR.

[2019-07-10 22:40] puneetse commented on #587
@Akiyamka you would have to compile and install those components manually. The Fedora guide you linked likely won't work since it is using parts that conflict with Clear Linux, like GRUB and DNF.

If you have trouble manually building and installing, please post on the forums where the community can help.

[2019-07-10 22:40] #587 closed

[2019-07-11 00:54] #577 closed

[2019-07-11 19:04] #576 closed

[2019-07-11 20:25] mvincerx opened #610 "Correct trademark use on system-requirements"
**Describe the error/improvement to an existing document or image**

Revise trademark usage and noun phrases for this page, please:
https://clearlinux.org/documentation/clear-linux/reference/system-requirements

You can add me as a reviewer.

[2019-07-12 00:32] mvincerx opened #614 "bare-metal-install-desktop figures error | web build failure | tracking only"
**Describe the error/improvement to an existing document or image**
On:  https://clearlinux.org/documentation/clear-linux/get-started/bare-metal-install-desktop
All figures after Figure 1 are out-of-sequence due to:
- a failure to flush pre-existing images (nodes)
- a failure to integrate newly merged changes to images from master

NOTE: Web build failure. This is NOT a documentation issue.

*know

[2019-07-15 16:04] mvincerx commented on #481
@krisdale. Adding you here because you're working on GH-592, which references this Issue.

[2019-07-15 16:10] rchiossi commented on #507
I reviewed what we have and I believe the problem with mixer documentation is that we explain to our users how to create a new mix, but we stop there. There are a couple things that are essential to mixer operation that should be included:

- Explain **how to maintain** a downstream mix.
-- How to keep up to date with upstream
-- What is the difference between deleting a bundle and deleting the bu

[2019-07-15 17:41] bd-dean opened #622 "Add link to Terms of Use to DARS tutorial"
The DARS terms of use is here: https://clearlinux.org/stacks/data-analytics/terms-of-use and needs to be added to the tutorial.

This is required as the DARS stack will be available in CSP marketplaces.

[2019-07-15 17:56] mvincerx commented on #507
@bktan8 please review. @mvincerx meet and define overlap with architect the lifecycle.
@krisdale FYI.

[2019-07-15 17:57] mvincerx commented on #507
See also Deploy at scale for some more material. @puneetse

[2019-07-15 20:54] DougTW commented on #610
Revised trademark use on system-requirements. See PR #624

[2019-07-15 23:06] #622 closed

[2019-07-15 23:09] #610 closed

[2019-07-15 23:25] mvincerx commented on #614
Build error fixed by web design team.
Confirmed:  https://clearlinux.org/documentation/clear-linux/get-started/bare-metal-install-desktop

[2019-07-15 23:25] #614 closed

[2019-07-16 20:47] mvincerx opened #631 "Combine download, verify, and decompress into 1 doc"
**Do you think Clear Linux documentation needs a new document? Please describe.**
Combine download, verify, and decompress into 1 doc, titled: `download-verify-decompress`

Please include the three different types of OSes in the new doc:
- https://clearlinux.org/documentation/clear-linux/guides/maintenance/download-verify-decompress-linux
- https://clearlinux.org/documentation/clear-linux/guides/m

[2019-07-17 02:38] mvincerx commented on #523
Close per merge of GH-568.

[2019-07-17 02:38] #523 closed

[2019-07-19 00:37] #631 closed

[2019-07-19 17:11] bd-dean commented on #538
This issue is satisfied with the comments in the forum https://community.clearlinux.org/t/how-to-install-php-extension-ext-imagick/298/ and doesn't need further documentation here.

[2019-07-19 20:53] #533 closed

[2019-07-19 22:02] #579 closed

[2019-07-22 17:46] mvincerx commented on #475
@puneetse Please review.

[2019-07-22 17:47] mvincerx commented on #527
Merged per GH-637

[2019-07-22 17:47] #527 closed

[2019-07-22 17:50] mvincerx commented on #583
Website issue. Closing.

[2019-07-22 17:50] #583 closed

[2019-07-22 17:51] mvincerx commented on #528
In progress per @bktan8 .

[2019-07-22 17:57] mvincerx commented on #528
@krisdale. Please note that this is an example of experimental feature.

[2019-07-22 18:02] mvincerx commented on #572
Defer due to security issues until Sept..

[2019-07-24 00:16] mvincerx opened #664 "Relocate openssh-server to guides/network"
**Describe the error/improvement to an existing document or image**
Move openssh-server from:
https://clearlinux.org/documentation/clear-linux/reference/bundles/openssh-server
to:
https://clearlinux.org/documentation/clear-linux/guides/network/openssh-server

Revise title of doc to better identify use-case.

[2019-07-24 00:51] mvincerx commented on #507
NYS - Revise/add to [architect-lifecycle](https://clearlinux.org/documentation/clear-linux/guides/maintenance/architect-lifecycle), phase II. @mvincerx to do with @mbelluzzo

DONE - See: `mixer bundle add editors`, `mixer bundle edit editors` woven into revised [mixer](https://clearlinux.org/documentation/clear-linux/guides/maintenance/mixer).

DONE - See: `A format bump is required when...` in [m

[2019-07-24 16:56] mvincerx commented on #664
Hey @MCamp859. Please let me know if you have bandwidth for this. We can discuss Thurs. am.

[2019-07-24 17:37] MCamp859 commented on #664
@mvincerx  I can do this next Tuesday, is that too late?

[2019-07-24 17:50] mvincerx commented on #664
That works fine. Thanks for your quick response.

[2019-07-24 22:29] eadamsintel opened #665 "Swupd guide has command output in a code block which is confusing"
If you go to https://clearlinux.org/documentation/clear-linux/guides/maintenance/swupd-guide and look at Step 1 and Step 2 you see that the output of a command is in a code block and has a copy icon next to it. I don't see why anyone would copy the output and it looks like it might be code to run.

**Screenshots**
If you look the output "Enabled" and all the text after "Warning:" is the output of

[2019-07-25 15:47] mvincerx commented on #665
I think we can solve this by inserting "output" after the first command.

[2019-07-25 23:20] rchiossi commented on #507
Hi Michael, a few comments on the tasks:

There is a misconception here. Actually, the confusion you made is exactly what I believe is happening to our users due to lack of proper documentation, so let me elaborate.

What is described in the docs right now if how to delete **bundle FILES** and how to edit the content of **bundle FILES**. I'm talking about how to delete **BUNDLES** and how to delet

[2019-07-26 19:21] #665 closed

[2019-07-26 19:24] mvincerx commented on #665
FYI @eadamsintel. @DougTW fixed this. Going forward, we're working on an improved solution for console output. More details in our next Docs meeting.

[2019-07-26 21:32] #499 closed

[2019-07-27 02:59] Austemagne opened #679 "Hyper-V instructions not up to date."
(1) Before starting a Hyper-V, it is important to go to the Settings of the new Virtual Machine and click on "Firmware". From there, make sure the hypervxxxx.avhdx supplied virtual drive is at the top.
(2) It is also probably important for the memory and virtual processors meet the minimum requirements. Hyper-V is dynamic, but it could help to know what proportions to use.
(3) The 3rd direction on

[2019-07-27 03:30] puneetse opened #670 "Update Hyper-V install documentation"
**Describe the error/improvement to an existing document or image**
The Hyper-V getting started document could be more comprehensive, as pointed out in https://github.com/clearlinux/distribution/issues/1059

It is also lacking screenshots compared to our other getting started documents

**Additional context**
https://clearlinux.org/documentation/clear-linux/get-started/virtual-machine-install/hype

[2019-07-28 08:18] SchrodingerZhu opened #671 "nvidia build error"
maybe caused by gcc version. plz fix.

[code]

[2019-07-28 17:42] avemilia opened #672 "Broken link in blog"
https://clearlinux.org/news-blogs/where-etcfstab-clear-linux contains a broken link to "stateless OS architecture". It should point to https://clearlinux.org/documentation/clear-linux/concepts/stateless

[2019-07-29 14:30] mrkz commented on #672
Hello @avemilia, first of all, thanks for reaching out and report this issue :tada:

I transferred your report to the clear-linux-documentation repository, where it will be handled properly.

[2019-07-29 15:57] mvincerx commented on #672
I corrected the broken link. Thanks, @avemilia.  We're currently reorganizing many docs.

[2019-07-29 15:57] #672 closed

[2019-07-29 16:51] puneetse commented on #671
Please have a look at https://github.com/clearlinux/distribution/issues/1048. It appears to be the same as your report and fixed in 30500+.

[2019-07-29 18:17] mvincerx commented on #528
@bktan8 will follow up.

[2019-07-29 18:18] mvincerx commented on #516
@intelkevinputnam will address after site is ready.

[2019-07-29 18:20] mvincerx commented on #475
@intelkevinputnam will follow up with @puneetse.
- Check a way to reset if failure.
- Removing boot param.
See also the Forum.

[2019-07-29 18:28] mvincerx commented on #671
@puneetse please follow up when news. Thanks

[2019-07-29 18:38] puneetse commented on #475
To recover from a parameter which causes boot failures, the bootloader can be interrupted to edit the cmdline with `e` on the keybaord to remove it. The timeout is very short on CL by default for a fast boot so it may be good to mention this and offer `sudo clr-boot-manager set-timeout 10` to increase the time out while confirming the boot parameter works.

man clr-boot-manager has information on

[2019-07-29 23:11] #464 closed

[2019-07-30 17:04] MCamp859 commented on #664
Closed by #677

[2019-07-30 20:16] puneetse commented on #671
@SchrodingerZhu this fixed and working in 30550. If you continue to have problems, please let us know!

[2019-07-30 20:16] #671 closed

[2019-07-30 21:49] puneetse opened #680 "UEFI enable needs to come sooner in VMware player document"
**Describe the error/improvement to an existing document or image**
The [Enable UEFI Support section of the VMware player document](https://clearlinux.org/documentation/clear-linux/get-started/virtual-machine-install/vmw-player#enable-uefi-boot-support) currently comes *after* the installer instructions.

This needs to be changed so that UEFI is enabled *before* the CL installer is run.

In the cu

[2019-07-31 12:33] m1kc opened #682 "How do I build the new YAML-defined images?"
Hi there!

I'm trying out the ister.py tool and right now I just try to recreate different upstream images using [the guide](https://clearlinux.org/documentation/clear-linux/guides/maintenance/ister#recreate-an-upstream-image). And I've ran into a problem: some [image configs](https://cdn.download.clearlinux.org/releases/29700/clear/config/image/) are not in the ister JSON format - instead, they u

[2019-07-31 20:29] miguelinux opened #684 "Installing Broadcom Wireless Drivers Documentation"
Many users asked on how to set up Broadcom wireless drivers.

As an example: https://github.com/clearlinux/distribution/issues/1064

There @lebensterben point it out the following direction
https://askubuntu.com/questions/55868/installing-broadcom-wireless-drivers/60395#60395

[2019-08-01 18:14] #664 closed

[2019-08-01 22:19] mdhorn opened #686 "autospec: documentation website has broken link"
**Describe the error/improvement to an existing document or image**
The top level documentation page has a broken link under "Documentation Highlights", the first option of autospec. Clicking this link results in a 404 error.

[2019-08-01 22:20] mdhorn commented on #686
https://clearlinux.org/documentation

Broken Link:
https://clearlinux.org/documentation/clear-linux/guides/maintenance/autospec

[2019-08-01 22:20] mdhorn opened #687 "swupd: documentation website has broken link"
**Describe the error/improvement to an existing document or image**
The top level documentation page has a broken link under "Quick Links", the second option of swupd. Clicking this link results in a 404 error.

https://clearlinux.org/documentation

Broken Link:
https://clearlinux.org/documentation/clear-linux/guides/maintenance/swupd-guide

[2019-08-01 23:10] puneetse opened #688 "Tidying the tutorial section"
**Describe the error/improvement to an existing document or image**
Looking at the tutorials section of the website, the titles of the documents are hard to skim through because of the verbosity of verb-phrases and use of "Clear Linux OS" frequently in the titles.

In most cases, the verbs and "on Clear Linux* OS" is implied by the context and location.

This is particularly noticeable in the side

[2019-08-02 01:15] lebensterben opened #689 "Tables are not displayed correctly on small screens"
![](https://sjc1.discourse-cdn.com/business4/uploads/clearlinux/original/1X/2bcd210ce7adb9b46a160679c4beebff4d8f1734.jpeg)

The screenshot is taken from this https://clearlinux.org/documentation/clear-linux/guides/tooling/mixer

And it also appears here https://clearlinux.org/documentation/clear-linux/reference/bundles#bundles

[2019-08-02 01:17] lebensterben opened #690 "Download `.flatpakref` when `GET` is clicked on Clear Linux Store"
In [Clear Linux* Store](https://clearlinux.org/software), when you click the GET button, a floating window pops up tells you how to install it in command line.

A more user-friendly approach is to download the corresponding .flatpakref file like the official flathub, this file can be opened by gnome-software directly.

[2019-08-02 17:03] mvincerx commented on #687
Friday 2 August I filed an issue on this with Web team. Monitoring.

[2019-08-02 17:04] mvincerx commented on #686
Friday 2 August I filed an issue on this with Web team. Monitoring. Web team owns, not a docs issue.

[2019-08-02 19:48] mvincerx commented on #689
@lebensterben, Thanks for pointing this out. We're working on this. Look for updates in the near future.

[2019-08-02 20:19] FabioMen10 commented on #462
I'm counting on it!

[2019-08-05 17:55] mvincerx commented on #528
@bktan8 will work with @MCamp859 this week.

[2019-08-05 17:58] mvincerx commented on #572
Blocked.

[2019-08-05 18:03] mvincerx commented on #682
@bktan8 please review and advise us long term.

[2019-08-05 18:03] puneetse commented on #682
@m1kc Take a look at https://github.com/clearlinux/clr-installer#install-installing-the-installer as well.

[2019-08-05 18:06] mvincerx commented on #688
@intelkevinputnam will work on this. Cheers.

[2019-08-05 20:02] mvincerx commented on #682
Thanks, @puneetse. FYI: @mdhorn.

[2019-08-05 21:01] mdhorn commented on #682
The current images are only generated with clr-installer and their associated YAML files.
For each published image:
https://cdn.download.clearlinux.org/current/
There is a matching YAML file:
https://cdn.download.clearlinux.org/current/config/image/

The basic syntax is clr-installer -c <yamlfile>
Note that most of the image have pre or post install hooks that would also need to be downloaded from

[2019-08-05 23:06] #680 closed

[2019-08-07 15:33] mvincerx commented on #690
@lebensterben I've filed an issue with our Web team, making your request to them.  Closing here because this is outside the scope of documentation.

[2019-08-07 15:33] #690 closed

[2019-08-07 18:25] intelkevinputnam commented on #475
Content now resubmitted in PR #707.

[2019-08-07 22:39] mvincerx commented on #687
Fixed per recent edits: https://clearlinux.org/documentation

[2019-08-07 22:39] #687 closed

[2019-08-07 22:39] mvincerx commented on #686
Fixed per recent edits: https://clearlinux.org/documentation

[2019-08-07 22:39] #686 closed

[2019-08-08 21:02] lebensterben opened #713 "Changes needed for the tutorial on NVIDIA proprietary driver"
After following the [tutorial](https://github.com/clearlinux/clear-linux-documentation/blob/master/source/tutorials/nvidia.rst), users are likely to encounter the some issues. In particular, this is related to `libGL.so` library.

The tutorial suggests that the user needs to run `sudo swupd repair --quick --bundles=lib-opengl` after installing the driver. And I can confirm that, with out this, cer

[2019-08-08 21:55] puneetse commented on #713
g-c-c should use the nvidia library in this case because it is cached before the conflicting one from lib-opengl. The g-c-c libGL issue is better root caused here https://github.com/clearlinux/distribution/issues/791#issuecomment-495889570 by @sunnyflunk.

Deleting the library is a workaround. I rather not suggest individually removing CL-provided files. Plus, that fix would be reverted when the m

[2019-08-12 18:00] mvincerx commented on #480
@krisdale is working on it.

[2019-08-12 18:01] mvincerx commented on #516
@intelkevinputnam let's confirm that this works. @mvincerx will verify.

[2019-08-12 18:02] mvincerx commented on #528
@bktan8 still working on it.

[2019-08-12 18:03] mvincerx commented on #539
This is handled by upcoming features by clr-installer team.

[2019-08-12 18:03] #539 closed

[2019-08-12 18:04] mvincerx commented on #571
@bd-dean working on this WW33.

[2019-08-12 18:05] mvincerx commented on #572
@bd-dean working on this WW33.

[2019-08-12 18:05] mvincerx commented on #670
@puneetse working on this WW33.

[2019-08-12 18:06] mvincerx commented on #679
See also GH-670

[2019-08-12 18:11] #688 closed

[2019-08-12 18:12] mvincerx commented on #689
@mvincerx  FYI.

[2019-08-12 18:52] bktan8 opened #723 "The release cadence in the "About" page of "up to a few times per week" is inaccurate"
In the statement:

"Clear Linux OS updates are based on a rolling release that can occur daily, up to a few times per week."

We do 2 builds per day.  So in theory, it's should be "up to 10 releases per week."

[2019-08-12 20:57] biapalmeiro opened #724 "404 Error for bar metal install tutorial"
The following link is returning 404 error:
https://clearlinux.org/documentation/clear-linux/get-started/bare-metal-install

Google search:
https://www.google.com/search?q=how+to+boot+clear+linux&oq=how+to+boot+clear+linux&aqs=chrome..69i57j33l5.7765j0j7&sourceid=chrome&ie=UTF-8

<img width="816" alt="Screen Shot 2019-08-12 at 1 53 52 PM" src="https://user-images.githubusercontent.com/5597786/62897

[2019-08-12 21:39] krisdale commented on #724
A redirect has been set up (301) to direct to the correct location for this content.

[2019-08-12 21:39] #724 closed

[2019-08-13 14:00] m1kc commented on #682
That did the trick. Thanks! :+1:

[2019-08-13 14:00] #682 closed

[2019-08-13 17:26] mvincerx commented on #516
Closed per GH-720.

[2019-08-13 17:26] #516 closed

[2019-08-13 17:32] mvincerx commented on #684
@puneetse, Can you take on this issue?

[2019-08-14 05:05] lebensterben commented on #689
@mvincerx things are working fine now.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-08-14 13:50] pldelisle commented on #464
Hi,

I have a problem with installing CUDA on a freshly installed Clear Linux.

The NVIDIA Driver is correctly installed and working.

When I follow the [Tutorial](https://docs.01.org/clearlinux/latest/tutorials/nvidia-cuda.html#debugging), installation fails with `Installation failed. See log at /var/log/cuda-installer.log for details.`

Here is the log file.

[cuda-installer.log](https://github.

[2019-08-14 16:04] mvincerx commented on #689
Yes. Thanks.

[2019-08-14 16:04] #689 closed

[2019-08-14 16:07] lebensterben commented on #464
@pldelisle when you install the driver, do you disabled modprobe?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-08-14 19:57] poussa opened #727 "DLRS: pytorch benchmark fails"
**Describe the error/improvement to an existing document or image**

https://docs.01.org/clearlinux/latest/guides/stacks/dlrs/dlrs.html#pytorch-single-and-multi-node-benchmarks

Step 4: fails
[code]

**Environment (please complete the following):**
 - Clear Linux OS version (in container, host is Centos 7.6):
[code]

**Additional context**
[code]
TF test ran fine.

https://docs.01.org/clearlinux/l

[2019-08-14 22:54] bktan8 opened #728 "Add "sudo clr-boot-manager update" step prior to list-kernels and set-kernel in Kernel Development doc."
We need the "clr-boot-manager update" command prior to setting the kernel.  This step will bring the kernel and proper config files over to the EFI partition (/boot), otherwise the files remain in /usr/lib/kernel.  Even though you can list it and set the new kernel, it won't actually show up in the systemd-boot menu and will not boot.  Also, setting a timeout is useful so that you can see the list

[2019-08-19 16:16] mvincerx commented on #728
@puneetse Can you take this and test it?

[2019-08-19 17:28] ketonik opened #730 "macOS Create a bootable USB drive Update Documentation to be more precise"
**Describe the error/improvement to an existing document or image**
Provide a clear and concise description of the error or proposed improvement.
https://docs.01.org/clearlinux/latest/get-started/bootable-usb.html#prerequisites
**Screenshots**
If applicable, add screenshots to help explain the error or unexpected behavior.

**Environment (please complete the following):**
 - Clear Linux OS version

[2019-08-19 18:08] ketonik commented on #730
Edit I must have missed
Step 2 **Go to the directory with the decompressed image.**

oops

[2019-08-19 20:42] puneetse opened #731 "Revise VNC remote connection documentation"
**Describe the error/improvement to an existing document or image**
The current VNC document is one of the longest pages we have and is one of the slowest loading pages in documentation.

The content is very comprehensive, which is good, but there are some tweaks that could improve it:

- Redo screenshots to be consistently sized and optimized for web. Even the current ones can be compressed ~54%.

[2019-08-27 22:59] mvincerx opened #747 "bundles: Create a "status" tag and show its value"
**Describe the error/improvement to an existing document or image**
Provide a clear and concise description of the error or proposed improvement.

In response to @ketonik and @phmccarty, revise `bundle_lister.py` script to:
- Capture current status for each bundle here:
https://docs.01.org/clearlinux/latest/reference/bundles/bundles.html
- If a bundle status is "Pending-Delete," color text red for

[2019-08-29 18:50] mvincerx opened #752 "Move deep learning reference stack back into guides"
**Describe the error/improvement to an existing document or image**

@mvincerx Follow-up to move dlrs back into guides and redo the redirect after new content is integrated after 09-06.  @bd-dean FYI only.
Reference: GH-738

**Additional context**
Add any other context about the problem here.

[2019-08-29 20:50] #747 closed

[2019-08-29 20:59] mvincerx commented on #747
Revised functionality of [available bundles page](https://docs.01.org/clearlinux/latest/reference/bundles/bundles.html) published today, 08-28-19. Cross-referenced on forum.

[2019-08-29 21:26] mvincerx commented on #518
Closed per GH-749.

[2019-08-29 21:26] #518 closed

[2019-08-30 02:36] ketonik commented on #747
Looks perfect, fantastic work guys.

[2019-08-30 15:49] mvincerx commented on #747
Thank you.

[2019-08-31 00:51] #481 closed

[2019-09-04 16:21] mvincerx opened #764 "Revise Developer Workstation, Table 1, using functional stacks for dev profiles."
Revise and improve [Developer Workstation ](https://docs.01.org/clearlinux/latest/guides/maintenance/developer-workstation.html) Table 1, to replace `bundle` title with functional “stacks” (e.g., "Networking", etc.) for each developer profile.
- Left column should be refocused on “functionality” instead of bundle titles (as org. principle)
- Additional columns >1 should include bundle recommendati

[2019-09-06 17:42] mvincerx opened #767 "Monitor 404 returned by TensorFlow Benchmarks links in dlrs.rst"
In [DLRS tutorial section](https://docs.01.org/clearlinux/latest/tutorials/dlrs.html#tensorflow-single-and-multi-node-benchmarks)  `linkchecker.py()` found a 404 for  embedded URL
[TensorFlow Benchmarks](https://www.tensorflow.org/guide/performance/benchmarks).

Monitor 404 during WW37. tensorflow.org may resolve this issue. Otherwise, CL docs can remove link.

[2019-09-09 16:49] mvincerx commented on #480
Great! It's closed. Thanks, @MCamp859

[2019-09-09 18:12] intelkevinputnam commented on #767
@bd-dean Looks like the benchmark results at https://www.tensorflow.org/guide/performance/benchmarks have gone away. And google isn't turning up that page anymore either when I search for "tensorflow benchmarks"

Does it make sense to link to their github page instead: https://github.com/tensorflow/benchmarks?

[2019-09-09 18:13] #480 closed

[2019-09-10 00:53] #670 closed

[2019-09-10 00:53] #679 closed

[2019-09-10 00:54] mvincerx opened #774 "Simplify language; correct grammar in Hyper-V guide"
Please provide editorial chops to simplify language and correct grammatical errors. Assign author of GH-729 as reviewer.

[2019-09-10 00:56] #728 closed

[2019-09-10 01:00] #730 closed

[2019-09-10 18:50] puneetse opened #776 "Move Parallels doc under Getting Started"
**Describe the error/improvement to an existing document or image**
https://docs.01.org/clearlinux/latest/tutorials/parallels.html is more of a getting started than tutorials and should be moved under https://docs.01.org/clearlinux/latest/get-started/index.html#install-in-a-virtual-machine with a matching name

[2019-09-11 18:08] keerockl opened #780 "https://docs.01.org/clearlinux/latest/guides/maintenance/assign-static-ip.html shows 404 error"
https://docs.01.org/clearlinux/latest/guides/maintenance/assign-static-ip.html shows 404 error

**Screenshots**
![image](https://user-images.githubusercontent.com/18294336/64722961-695d3b00-d484-11e9-833d-e3746f5be2ce.png)

**Environment (please complete the following):**

**Additional context**

Please redirect to https://docs.01.org/clearlinux/latest/guides/network/assign-static-ip.html

[2019-09-12 20:21] puneetse opened #783 "Improvements for KVM documentation page"
**Describe the error/improvement to an existing document or image**
Some ideas as I was going through https://docs.01.org/clearlinux/latest/get-started/virtual-machine-install/kvm.html to improve:

- Make the list commands to install QEMU/KVM across various distros a table. The bulleted list takes up a lot of room.

- In SSH section, link to https://docs.01.org/clearlinux/latest/guides/network/ope

[2019-09-13 20:17] puneetse commented on #538
I'm reopening this based on this complications described here https://community.clearlinux.org/t/php-fpm-is-it-excluded-from-the-stateless-paradigm-and-not-going-to-be-overwritten-by-swupd/1607/17.

An overall PHP document would be good, clarifying the details here https://github.com/clearlinux/clr-man-pages/blob/master/stateless.7.rst#php-fpm and where PHP values can be defined.

[2019-09-13 21:07] #780 closed

[2019-09-13 21:07] krisdale commented on #780
A 301 redirect has been set up for the page to point it to the new location.

[2019-09-16 16:17] bd-dean opened #792 "Add tutorial for DBRS to stacks guide"
Stacks team will be releasing the Database Reference Stack.  Documentation needed for install & getting started, as well as how to use with other stacks.

[2019-09-16 16:19] bd-dean opened #793 "Update DARS guide with how-to examples"
Current version of the Data Analytics Reference Stack guide only shows how to install.  Would be a more useful document with examples for how to use and how to interact with the other stacks offered by Clear Linux.

[2019-09-16 16:24] #727 closed

[2019-09-16 16:24] #767 closed

[2019-09-16 17:14] ahkok opened #795 "autoproxy doc broken - split up cmdline examples make it unusable"
https://github.com/clearlinux/clear-linux-documentation/blob/master/source/guides/clear/autoproxy.rst

There are several code examples in here that are broken. The example commands are split into 2 lines which breaks. These all need checking and making sure that the output matches the document.

e.g.

[code]

should be a single line, not 2 lines.

[2019-09-16 17:19] #783 closed

[2019-09-16 18:46] puneetse opened #796 "Improvements for create a bootable USB drive on Linux"
**Describe the error/improvement to an existing document or image**
https://docs.01.org/clearlinux/latest/get-started/bootable-usb.html#bootable-usb-linux

- Explicitly link to https://docs.01.org/clearlinux/latest/guides/maintenance/download-verify-decompress.html#decompress-the-cl-image early in section to make it clear a prerequisite is to decompress after downloading. Currently, the link just

[2019-09-16 22:25] pdxjohnny opened #799 "Tutorial on updating an existing autospec package"
There are directions to create a new autospec package, but we don't have docs on how to update an existing package (or how to send the [PATCH] to the mailing list to get it updated)

[2019-09-17 15:22] puneetse commented on #799
I transferred this request to our docs repo for better tracking.

For how to submit a patch, see https://github.com/clearlinux/distribution/blob/master/contributing.md and let us know if anything can be improved.

If the autospec documentation doesn't link to this already, we should consider it.

[2019-09-17 19:20] puneetse opened #800 "Document about stateless firmware loading"
**Do you think Clear Linux documentation needs a new document? Please describe.**
Stateless firmware loading from /etc/firmware is a feature that [unique to clearlinux](https://github.com/clearlinux-pkgs/linux/blob/master/0119-Enable-stateless-firmware-loading.patch)

It would be good to have a document describing its availability and usage.

**Should the new document be a guide, a reference, or a

[2019-09-17 19:25] puneetse opened #801 "Document about performance"
**Do you think Clear Linux documentation needs a new document? Please describe.**
It has been pointed out that by @pixelgeek and others that documentation describing how CL aims for performance in more detail would be nice to reference.

Right now there is just one section on https://clearlinux.org/about that doesn't go into much detail.

**Should the new document be a guide, a reference, or a tut

[2019-09-17 20:27] mvincerx commented on #799
I'll add an example on how to update an existing package in our [autospec guide](https://docs.01.org/clearlinux/latest/guides/clear/autospec.html).

[2019-09-19 07:00] VadymVolos opened #809 "Minimum system requirements SSE 4.1 or SSE 4.2 ?"
Hi!

Please correct the minimum requirements:
https://docs.01.org/clearlinux/latest/reference/system-requirements.html

The article says:

But during installation I get an error:

https://github.com/clearlinux/distribution/issues/364#issuecomment-532985800

---
![2019-09-19](https://user-images.githubusercontent.com/12669290/65221522-dd6f9280-dac5-11e9-8e44-64a26cddfe21.png)

[2019-09-19 17:10] ahkok commented on #809
Moved to the documentation project. The requirement is SSE 4.2.

[2019-09-19 17:11] ahkok commented on #809
Note: I'm 100% sure you can configure virtualbox to enable this, but it may depend on whether your host CPU supports it.

[2019-09-19 17:13] VadymVolos commented on #809
No, my CPU only SSE 4.1.

[2019-09-19 17:23] ahkok commented on #809
Right. Unfortunately then you're stuck with full emulation only. Thanks for filing the bug against our incorrect documentation, though.

[2019-09-20 22:10] #809 closed

[2019-09-21 00:37] #507 closed

[2019-09-23 17:15] mvincerx commented on #792
CLosed per release of GH-805

[2019-09-23 17:15] #792 closed

[2019-09-23 17:20] mvincerx commented on #572
Closed per release of GH-808.

[2019-09-23 17:20] #572 closed

[2019-09-23 17:45] puneetse commented on #796
Relevant topic for the last bullet: https://github.com/clearlinux/distribution/issues/1239

[2019-09-23 18:22] bd-dean opened #816 "Add link for Terms of Use to DBRS guide"
Need to add link to terms of use: https://clearlinux.org/stacks/database/terms-of-use

[2019-09-23 18:54] #816 closed

[2019-09-23 20:26] bd-dean opened #818 "Add link for benchmark results to DBRS guide"
Need link to release announcement that includes benchmark results.

[2019-09-23 20:46] #818 closed

[2019-09-24 10:44] mythi opened #822 "Update "Use DPDK to send packets between platforms""
See distribution/issues/1266

If Clear Linux adds devpkg-dpdk, update the document to use distro's packaging. If not, make it more obvious to the reader what "install dpdk" means.

/cc @poussa

[2019-09-24 22:01] mvincerx commented on #774
@MCamp859. Will you please restart work on this?

[2019-09-24 23:01] #571 closed

[2019-09-24 23:52] #776 closed

[2019-09-26 20:41] #793 closed

[2019-09-27 16:43] mvincerx opened #828 "Reorganize, simplify collab doc to emphasize GH contributions"
In: https://docs.01.org/clearlinux/latest/reference/collaboration/collaboration.html#contribution-guidelines

- Move **How to Contribute** to top as first header.
- Reorder sections from (current order) 1,2,3,4,5 to:  3,4,2,5 (omitting 1)
- Simplify wording in bullets under "How to Contribute" to make links more discoverable.
- Make effort to simplify wording overall

**Original**
**Contribute dir

[2019-09-27 19:24] 0xA1B2 opened #831 "Bugs in Nvidia Documentation"
Hello,

this document has some errors and is incomplete:

https://docs.01.org/clearlinux/latest/tutorials/nvidia.html

Add:
Check for latest Nvidia drivers here:
https://www.nvidia.com/en-us/drivers/unix/

Add:
Many systems come with an Intel CPU-GPU. The driver for that usually needs to be disabled so that the Nvidia driver works (alone). The documentation needs to explain that, and how to disabl

[2019-09-27 21:49] mvincerx commented on #799
Closed per release of GH-827.

[2019-09-27 21:49] #799 closed

[2019-09-27 22:27] mvincerx opened #829 "Create tutorial for OpenVINO sample application."
Increase tutorials that are focused on Deep Learning and use Intel inference engines.
- Work directly with @erinpark33

**Describe or provide examples of similar documents, if possible, from other web sites**
Please provide an example of similar documents if possible.

[2019-09-30 16:02] mvincerx commented on #831
@puneetse, could you review this?

[2019-09-30 16:41] mvincerx commented on #828
Please contact Bia for more information.  Cheers.

[2019-09-30 18:15] mythi commented on #822
Here are the changes:

- min version 31130
- install bundles dpdk and devpkg-dpdk
- l3fwd, step3: not `linuxapp` but `linux`
- l3fwd, step 4:  `sudo make` is enough
- pktgen, step 4: not `linuxapp` but `linux`

[2019-10-01 03:36] 0xA1B2 commented on #831
Fixed Backlight control which applies to various Nvidia chips in older notebooks:

sudo gedit /usr/share/X11/xorg.conf.d/10-nvidia-brightness.conf

Section "Device"
Identifier "Device0"
Driver "nvidia"
VendorName "NVIDIA Corporation"
BoardName "NVS 4200M"
Option "RegistryDwords" "EnableBrightnessControl=1"
EndSection

reboot

[2019-10-01 22:37] DougTW opened #834 "bare-metal-install-desktop.rst"
**Describe the error/improvement to an existing document or image**
Keyboard specified during the install process is not retained when logging in.

**Screenshots**
![Screenshot from 2019-10-01 15-21-32](https://user-images.githubusercontent.com/10997204/66005409-39d89780-e460-11e9-9d57-a86b5dbb1317.png)

**Environment (please complete the following):**
 - Clear Linux OS version: [`cat /usr/lib/os-

[2019-10-01 23:44] puneetse commented on #831
Nice, I didn't know about this link. I'll add it as an alternative/reference. I prefer the dowloads divers page as the primary link for users who don't necessarily know what they're looking for yet.

Agreed. Systems with NVIDIA Optimus have another level of complexity and keep coming up so a note about them is in order.

Ugh. Yes. Thanks.

I rather not get into the business of including the quirks

[2019-10-01 23:49] puneetse commented on #684
If we determine this needs special addressing in the Clear Linux documentation, https://github.com/clearlinux/clear-linux-documentation/pull/824 is something that can be used as a building block.

[2019-10-02 21:42] #829 closed

[2019-10-03 14:36] #800 closed

[2019-10-03 18:45] puneetse opened #840 "Remove AES requirement from documentation"
**Describe the error/improvement to an existing document or image**

https://docs.01.org/clearlinux/latest/reference/system-requirements.html

AES has been removed as a hard requirement.

**Additional context**
https://github.com/clearlinux/clr-installer/pull/500
https://github.com/clearlinux/distribution/issues/785

[2019-10-04 18:22] #541 closed

[2019-10-04 19:44] mvincerx commented on #840
Is this the only line that you're requesting be removed?
https://docs.01.org/clearlinux/latest/reference/system-requirements.html#id1
`Intel® Advanced Encryption Standard New Instructions (Intel® AES-NI)`

[2019-10-05 01:12] mvincerx commented on #314
Closed per GH-820

[2019-10-05 01:12] #314 closed

[2019-10-07 17:36] tpleavitt commented on #834
Need to transfer to clr-installer issue

[2019-10-07 22:50] #795 closed

[2019-10-10 17:27] tpleavitt opened #856 "Create tutorial for using virt-manager in a clear linux gnome desktop environment"
**Do you think Clear Linux documentation needs a new document? Please describe.**
Create tutorial for using virt-manager in the gnome desktop to manage virtual machines

**Should the new document be a guide, a reference, or a tutorial?**
tutorial

**Describe or provide examples of similar documents, if possible, from other web sites**
Similar to the https://docs.01.org/clearlinux/latest/get-starte

[2019-10-11 01:16] #828 closed

[2019-10-14 16:52] krisdale opened #857 "Fix typos and grammar"
**Scrub docs for typos and grammatical issues**

Review documentation for misspelled words and/or grammatical issues.

Note: We use American English. For additional details regarding style and writing guides refer to our Contribution Guide: https://docs.01.org/clearlinux/latest/collaboration/collaboration.html

[2019-10-14 16:57] krisdale opened #858 "Simplify language"
**Simplify language**
Find sentences or wording in existing documentation that can be simplified and simplify them.

Refer to the Contribution guide for additional info regarding language and style.
https://docs.01.org/clearlinux/latest/collaboration/collaboration.html

[2019-10-14 17:20] mvincerx opened #860 "Learn reStructured (reST) Text and make a simple fix."
**Describe the error/improvement to an existing document or image**

### Convert inline command to code-block

Some docs could benefit from showing a command as a code-block instead of describing the  command. In this example, instead of using `:command: sudo swupd update` as inline text, use a code-block.
https://docs.01.org/clearlinux/latest/get-started/cloud-install/aws-web.html#update-the-cl-i

[2019-10-14 21:38] bd-dean opened #862 "Add Hadoop and Kubernetes examples to DARS guide"
Examples for using Apache Hadoop and deploying in Kubernetes are needed for completion of the DARS guide.

[2019-10-15 20:41] tpleavitt opened #866 "Document how to use the enterprise-login tools with Clear"
**Do you think Clear Linux documentation needs a new document? Please describe.**
Document and demonstrate how to use several of the tools available in the enterprise-login bundle.

**Should the new document be a guide, a reference, or a tutorial?**
Guide

**Describe or provide examples of similar documents, if possible, from other web sites**
Internal docs

**Additional context**
Request originat

[2019-10-15 22:37] #840 closed

[2019-10-16 00:26] #831 closed

[2019-10-16 15:47] #822 closed

[2019-10-16 20:00] mvincerx opened #870 "Validate that commands work correctly (e.g., swupd bundle-add) in docs"
**Describe the error/improvement to an existing document or image**

A great way to start contributing to docs is to test commands in documents to validate that they work--as intended. Oftentimes, because upstream development of the OS moves quickly, commands become outdated, deprecated, or may expose otherwise invisible errors.

We'd like your help, especially if you need a PR for Hacktoberfest.

[2019-10-17 16:33] tpleavitt opened #872 "Update PXE guide to state client requirements"
**Describe the error/improvement to an existing document or image**
Need to specify that the PXE client needs to have an UEFI firmware in order to boot clear linux after an install

https://docs.01.org/clearlinux/latest/guides/network/ipxe-install.html

[2019-10-17 19:11] #862 closed

[2019-10-17 20:17] #872 closed

[2019-10-18 16:20] #774 closed

[2019-10-18 17:10] bd-dean commented on #538
Closed with #869

[2019-10-18 17:10] #538 closed

[2019-10-18 17:41] bd-dean opened #876 "Add new page to Stacks Guide for AI-Inference on DLRS"
Need a new page to support the AI-Inference useage of DLRS.  This aligns with the DLRS guide page but needs to be a standalone page.

[2019-10-22 03:38] mns6070 commented on #464
I am having the same issue as @pldelisle.  Cuda-installer.log is attached.
[cuda-installer.log](https://github.com/clearlinux/clear-linux-documentation/files/3753757/cuda-installer.log)

[2019-10-22 17:38] lebensterben commented on #464
Specifically, errors starts at line 19430, where it reports failures when installing CUDA samples.

I enabled `modprobe` when installing NVIDIA driver, and it seems to me that without it I cannot compile any CUDA samples.

Would you try reinstalling the driver without disabling `modprobe`?

[2019-10-22 20:40] mns6070 commented on #464
I tried installing the driver with and without the modprobe flag and it did not make a difference.

[2019-10-22 23:03] lebensterben commented on #464
If you don't need to develop CUDA programs, that is just use CUDA as a library, then you can disable the building of examples.

[2019-10-24 00:41] mns6070 commented on #464
Building without the samples flag worked.

[2019-10-24 01:51] cjwilburn commented on #858
May I take this one?

[2019-10-24 02:33] mvincerx commented on #858
You bet. If you want to simplify language in multiple docs, I recommend creating a new branch for each doc. As long as the editing adds value, you're good to go. See our [contributing guide](https://docs.01.org/clearlinux/latest/collaboration/collaboration.html#contribute-via-github).

[2019-10-25 21:50] mvincerx opened #881 "Editorial review of virt-manager after first release."
**Describe the error/improvement to an existing document or image**
After GH-880 is merged, please open a new PR to improve writing of `virt-manager`.
For example, please:
* Remove use of first-person
* Add transitions where context-switching may be confusing
* Revise instructions steps to discrete simple commands (reduce wordiness)
etc,

[2019-10-26 01:31] #856 closed

[2019-10-28 15:44] intelkevinputnam commented on #449
Addressed by PR #882

[2019-10-30 13:47] igor-petruk opened #886 "Please add the guide to run Clear Linux image on Digital Ocean"
**Do you think Clear Linux documentation needs a new document? Please describe.**
Developer; System Administrator; or Basic User.

**Should the new document be a guide, a reference, or a tutorial?**
Getting Started -> Deploy ot the cloud

**Describe or provide examples of similar documents, if possible, from other web sites**
https://docs.01.org/clearlinux/latest/get-started/cloud-install/gce.html

[2019-10-30 17:35] JSEHV opened #888 "PHP tutorial documentation section is missing nesting or incorrectly nested"
The PHP tutorial documentation on https://docs.01.org/clearlinux/latest/tutorials/index.html is missing nesting or not nested correctly, as the other tutorials. Every chapter is shown as a separate tutorial between OpenVINO and Proxy configuration.

[2019-10-30 20:33] pixelgeek opened #889 "Typo in Chinese mixer.html"
In file https://docs.01.org/clearlinux/latest/zh_CN/guides/clear/mixer.html

在 mix 中再次列出 buddles 以确认移除。

should read

在 mix 中再次列出 bundles 以确认移除。

[2019-10-31 16:58] mvincerx commented on #888
Good catch, @JSEHV.  @MCamp859.   The PHP tutorial has a few formatting errors.  Will you please apply correct alignment of items below the `.. contents::` directive? This is the reason that the left-side menu does not show correct "nesting," as @JSEHV points out.  Please fix all formatting errors and apply your magic too. Thanks

[2019-10-31 17:40] mvincerx commented on #858
Hi @cjwilburn, if you'd like to take this for Hacktoberfest, please do so before midnight tonight.
We'd love to have your contributions.

[2019-10-31 17:52] intelkevinputnam commented on #889
Addressed with PR: https://github.com/clearlinux/clear-linux-documentation-zh-CN/pull/1

[2019-10-31 19:40] tpleavitt opened #890 "Document importing Clear Linux AWS image into AWS"
Create guide to document importing the Clear Linux AWS into AWS.
reference https://github.com/clearlinux/distribution/issues/1428

[2019-10-31 21:35] JSEHV opened #891 "Documentation on offline install and its limitations"
**Do you think Clear Linux documentation needs a new document? Please describe.**
At the moment the online documentation is lacking a part on offline installing Clearlinux. Counts for all users, from basic to advanced, from user to developer.

**Should the new document be a guide, a reference, or a tutorial?**
Probably an addition to the installing tutorial may work well. At the moment it still st

[2019-11-01 16:22] mvincerx commented on #870
Closed because Hacktoberfest ended on 10-31-2019.

[2019-11-01 16:22] #870 closed

[2019-11-01 16:22] mvincerx commented on #860
Closed because Hacktoberfest ended on 10-31-2019.

[2019-11-01 16:22] #860 closed

[2019-11-01 16:23] mvincerx commented on #858
Closed because Hacktoberfest ended on 10-31-2019.
FYI: @cjwilburn Feel free to contribute to our docs anytime.

[2019-11-01 16:23] #858 closed

[2019-11-01 16:25] mvincerx commented on #857
Closed per GH-885

[2019-11-01 16:25] #857 closed

[2019-11-01 20:28] intelkevinputnam commented on #889
Published just now, so the fix is in.

[2019-11-01 21:02] mvincerx commented on #889
Thank you for closing the loop.

[2019-11-01 21:02] #889 closed

[2019-11-01 23:44] mvincerx commented on #881
Closed per GH-892.

[2019-11-01 23:44] #881 closed

[2019-11-04 18:25] mvincerx commented on #866
For more details on contents of bundle, see:
https://github.com/clearlinux/clr-bundles/blob/master/bundles/enterprise-login

[2019-11-04 18:26] puneetse opened #894 "Review Kubernetes/Kata documentation"
**Describe the error/improvement to an existing document or image**
Overtime the Kubernetes documentation has become more complex. I recently had to do a deployment and found the documentation tough to follow through.

Additionally, I've noticed key steps that were once in the documentation have somehow been lost over time. For example, the note about cni-plugins: https://github.com/clearlinux/cle

[2019-11-04 18:38] mvincerx commented on #528
Still blocked. @bktan8 will follow up swupd engineers.

[2019-11-04 18:41] mvincerx commented on #801
@krisdale will work with @puneetse

[2019-11-04 18:42] mvincerx commented on #684
@bd-dean please check in with @puneetse

[2019-11-04 18:44] mvincerx commented on #684
Please a link to the Forum thread.

[2019-11-04 18:46] mvincerx commented on #462
@krisdale will work with @puneetse .

[2019-11-04 18:49] mvincerx commented on #449
@intelkevinputnam will work with @puneetse.

[2019-11-04 18:52] mvincerx commented on #894
Work with @mythi and @eadamsintel.  Need to publish by asap.

[2019-11-04 20:34] eadamsintel commented on #894
@puneetse  The CNI plugins section is actually the "Install Pod Network add-on" section and there is a link to the kubernetes documentation on how to do that. I've tried several in the past without issue.  https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/create-cluster-kubeadm/#pod-network

I think though that crio is still setup by default when you install and initialize clou

[2019-11-04 20:47] puneetse commented on #894
Thanks @eadamsintel. I have been making edits as I've been going along and will open a PR we can discuss around.

The problem is that CL distributes CNI plugins under `/usr/libexec/` and CRI expects them udner `/opt/cni/bin`, which CL doesn't distribute content under. This may not be a problem for Flannel but it is for NodePort, for example.

https://kubernetes.io/docs/concepts/extend-kubernetes/c

[2019-11-04 20:54] mythi commented on #894
CRI-O in Clear Linux is configured to use both `/opt/cni/bin` and `/usr/libexec/cni`

[2019-11-04 20:59] mythi commented on #894
We've kept Docker out of the kubernetes doc on purpose. Also, the bundles are so that docker is not pulled in but containerd/cri-o as the CRI implementations.

It is true that Docker is set as the default runtime for docker if kvm is present. Before changing any docs, we should have the conversation do we still want to keep the setting like that. See: https://github.com/clearlinux/distribution/iss

[2019-11-04 21:02] puneetse opened #896 "Review for proper figure syntax."
**Describe the error/improvement to an existing document or image**

I recently notice that some of our documentation is not using the correct syntax for caption-text in figures/images.

To render captions-text with the intended format and HTML code, the caption text needs to be indented under the figure block, like so:

[code]

I've seen (and made the mistake myself) of having the caption text ou

[2019-11-04 21:08] puneetse commented on #894
If it's intended to not use Docker with Kubernetes, this should be explicitly stated or the steps provided to work with Docker because right now it is possible to enter this state with both bundles installed.

Currently the document implicitly implies using CRI+O; I used Dockershim and ran into a combination of versions where the control plane pods didn't play nice with kata and was annoying to de

[2019-11-04 21:31] eadamsintel commented on #894
I just looked at Ubuntu guides and  arch linux guides and neither go into details on crio or containerd.  Part of the reason this article is written this way is to show how to integrate with Kata containers.  The other articles don't cover crio or containerd which allows you to choose a runtime and I think just assume dockershim is used.   The kata team has switched back and forth between crio and

[2019-11-05 05:19] mythi commented on #894
It's fine to document both containerd and cri-o but docker should be left out (we can document the reasoning).

There's no 3 CRI interfaces. dockershim uses containerd so it's just one extra layer on top.

Also, FYI distribution/issues/1451

[2019-11-06 01:11] eadamsintel commented on #894
I commented on 1451. I agree that kata-runtime should not be the default.

[2019-11-06 01:59] #517 closed

[2019-11-06 21:55] JSEHV opened #901 "Tutorial for installing an AMD GPU Pro driver"
**Do you think Clear Linux documentation needs a new document? Please describe.**
As the tutorial for the NVIDIA driver is up, the AMD Pro driver is missing.

**Should the new document be a guide, a reference, or a tutorial?**
A tutorial how to install would be sufficient

**Describe or provide examples of similar documents, if possible, from other web sites**
It can be similar as: https://docs.01

[2019-11-06 23:03] puneetse commented on #901
Out of curiosity, what is the benefit of the AMDGPU Pro driver on top of the opensource one that you're seeking?

My understanding is that the performance gap between the opensource amdgpu/radeon drivers and amdgpu pro drivers is significantly less and shrinking, if not negative.

[2019-11-06 23:06] puneetse commented on #894
https://github.com/clearlinux/distribution/issues/1451

I'll hold on this under those changes are underway.

[2019-11-07 06:36] mythi commented on #894
Even with those changes, it still holds that either containerd or cri-o is preferred.

[2019-11-07 09:20] JSEHV commented on #901
That was exactly the reason, for some professional CAD application we use, the performance with the AMDGPU Pro driver is still significantly (10%+) faster.

[2019-11-07 20:04] mvincerx commented on #731
Closed per GH-900. Regarding image sizes, all figures here are approximately 51 KB or less. So if load time is a concern, please test and file a new Issue that is more general.

[2019-11-07 20:04] #731 closed

[2019-11-08 18:47] intelkevinputnam opened #904 "Kubeflow "Istio" yaml script link no longer works."
**Description**

404 Not Found for link in [DLRS Stacks Guide](https://docs.01.org/clearlinux/latest/guides/stacks/dlrs.html).

Note in [Prerequisites](https://docs.01.org/clearlinux/latest/guides/stacks/dlrs.html#pre-requisites) section links to ["Istio" - kfctl_k8s_istio.yaml](https://raw.githubusercontent.com/kubeflow/kubeflow/master/bootstrap/config/kfctl_k8s_istio.yaml), which no longer exist

[2019-11-08 19:10] puneetse opened #905 "make venv doesn't work on Clear Linux OS"
`make venv` doesn't work on Clear Linux for me because `$(PY_VERSION)` isn't an environment variable out of the box

[code]

There are some other ways to determine python version, but I was able to use it without specifying a `-p` parameter at all.

@mvincerx can you check if this is suitable for your systems too? Thanks for adding this make target. I found it useful.

[2019-11-08 19:24] mvincerx commented on #905
Hey @puneetse. I should've let you know that I'm currently working on updating the README for this very purpose. It was on my back-burner list for a while to document it. I'll keep you posted.

[2019-11-10 11:53] insilications opened #913 "A detailed guide for avoiding conflicts with swupd update/repair"
For example, while it is pretty explicit for a Linux newbie that one can avoid a potential conflict with swupd down the road by using /usr/local paths, I didn't know that swupd leaves /opt/* alone as well. In general, a more detailed guide for those who want to enjoy the stateless design while maintaining their personalized installation intact.

[2019-11-11 17:56] bktan8 opened #907 "Add a quick guide on how to set systemd-boot timeout value"
This will show people how to add a timeout value so that systemd-boot menu is presented instead of booting up right away.

[2019-11-11 18:39] mvincerx commented on #886
@bktan8 will start this week.

[2019-11-11 18:42] bktan8 opened #908 "Add a section on booting CLR using GRUB to dual-boot-linux doc."
Add a section on booting CLR using GRUB to dual-boot-linux doc.

[2019-11-11 18:48] mvincerx commented on #894
@puneetse will collab with @bd-dean.

[2019-11-11 19:49] mvincerx opened #910 "Add CL Dissector Django app guide."
**Do you think Clear Linux documentation needs a new document? Please describe.**
Create a guide showing the 3 main use cases for the  [Dissector](https://github.com/intel/clear-linux-dissector-web) app. Show general setup of app (git clone, etc.)

**Describe or provide examples of similar documents, if possible, from other web sites**
 Assure that use case of converting from Yocto to Clear Linux

[2019-11-12 20:42] eadamsintel opened #915 "Collaboration document link goes to a 404 page"
At the bottom of https://clearlinux.org/documentation there is a link to "Collaborate" which is https://docs.01.org/clearlinux/latest/reference/collaboration/collaboration.html  That link takes me to a 404 page whereas other https://docs.01.org links are valid.

[2019-11-13 03:13] intelkevinputnam commented on #915
Thanks @eadamsintel. It should be an easy fix.

[2019-11-13 03:19] intelkevinputnam commented on #915
I believe it's fixed. Can you take a look and close it if it is?

[2019-11-13 13:17] insilications commented on #913
Thanks for correcting me and moving this to [clear-linux-documentation](https://github.com/clearlinux/clear-linux-documentation).

@lebensterben @mrkz perhaps we should also specify that */opt* is also a user managed area in the stateless guide?

Also, wouldn't it be important to update the output for "swupd repair --help"? See:
`Options:`
` -Y, --picky             Also remove files which should n

[2019-11-13 15:11] lebensterben commented on #913
@insilications I think by convention most distros assume /opt is  managed only by the user. But I agree it makes it even clearer if the documentation explicitly mentioned this.

As for the suggestion on the help message, you may open an issue in clearlinux/swupd-client repository.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-11-13 16:31] #915 closed

[2019-11-13 16:31] eadamsintel commented on #915
Thanks for the quick fix.

[2019-11-13 16:45] intelkevinputnam commented on #913
@lebensterben and @insilications thanks for continuing to contribute to the conversation. Since there is a PR in progress, please take a look and make any additional comments there (#912).

[2019-11-13 20:00] mrkz commented on #913
@insilications Hey, so the PR I created for the stateless web page guide is merged and should be available soon-ish when the content is updated in the web page. Additionally, I created https://github.com/clearlinux/swupd-client/issues/1205 as a follow-up on your comment above.

I'm closing this issue as one of the tho items is addressed already and the missing one is being handled on the swupd-cli

[2019-11-13 20:00] #913 closed

[2019-11-14 02:03] lebensterben opened #918 "Direct users to use LTS kernel in NVIDIA driver tutorial"
Currently the documentation **mentioned** that LTS kernel is more likely to be compatible with the NVIDIA proprietary driver comparing to the frequently updated native kernel.

It'd be better if it would be rephrased to a tone that more strongly **suggests** and **directs** the user to use LTS kernel than just **mentioning** this fact.

For users, they're less likely to see graphical desktop envir

[2019-11-14 02:16] lebensterben opened #919 "Add a section of known failures in tutorial on NVIDIA driver"
There are certain known cases when NVIDIA driver is not likely to be successfully installed. And there are known bugs in specific kernel version that the NVIDIA driver won't function properly.

By the nature of GPU driver, when it fails, the user is likely to panic. And fixing the system is doable, but it's just annoying.

I suggest to include a section to record all known issues in the documentat

[2019-11-14 20:00] #904 closed

[2019-11-15 23:06] mvincerx commented on #896
See Forum: https://community.clearlinux.org/t/help-us-correct-incorrect-figure-syntax-in-the-docs/2182

[2019-11-15 23:34] #888 closed

[2019-11-16 03:13] puneetse commented on #918
In my experience the opposite can also be true pretty often: pairing against LTS kernels can result in breakages that have long since been fixed in newer version pairings.

That is why I avoided being more direct with the language.

[2019-11-16 03:23] puneetse commented on #919
Which cases were you thinking specifically?

I kind of wanted to avoid compiling a dataset of nvidia-system bugs in the documentation for some reasons:

Other parts of the Internet are already try to do this and it is very easy for datapoints to go stale with no followup, which can double down on the confusion when trobuleshooting.

With that said, the documentation is really there to serve users.

[2019-11-17 00:17] michaelvincerra opened #923 "Test issue for greetings. NA to repo."
Test.

[2019-11-17 00:28] mvincerx commented on #923
Test successful. 🚀

[2019-11-17 00:28] #923 closed

[2019-11-18 17:18] mvincerx commented on #918
Hey @puneetse. Please let me know if you plan to address this or not. Thanks
https://docs.01.org/clearlinux/latest/tutorials/nvidia.html#install-dkms

[2019-11-18 17:47] mvincerx commented on #910
@krisdale meeting with brindle this week.

[2019-11-18 18:45] tpleavitt commented on #796
@mvincerx can you check to see if this PR has been merged?  If so, please close

[2019-11-18 21:33] mvincerx commented on #796
Closing per GH-842.
The link to `download-verify-decompress.html` is embedded in the 2nd bullet of 3rd section:
"Verify the integrity of the Clear Linux OS image on Linux."

[2019-11-18 21:33] #796 closed

[2019-11-18 21:39] mvincerx commented on #907
Closed per GH-911

[2019-11-18 21:39] #907 closed

[2019-11-18 22:45] #891 closed

[2019-11-22 00:40] #905 closed

[2019-11-22 19:59] bktan8 opened #936 "Add how to erase LVM partitions in the baremetal troubleshooting guides."
Currently, clr-installer doesn't automatically wipe LVMs.  Add to the Troubleshooting section of the baremetal installation guides on how to erase LVM partitions prior to installing Clear.

[2019-11-26 16:01] JSEHV opened #938 "Clear Linux* OS on Proxmox"
As Proxmox is a very popular and well performing Virtual Environment, I would really like to see Proxmox added in the Get Started part under Install in a Virtual Machine.

**Do you think Clear Linux documentation needs a new document? Please describe.**
System Administrator

**Should the new document be a guide, a reference, or a tutorial?**
a Get Started

**Describe or provide examples of similar

[2019-11-27 22:31] puneetse commented on #918
I'm not going to address this right now. We'll keep our ears open to datapoints coming in. If it starts to sway one way or the other, we can certainly revisit the issue.

[2019-11-27 22:31] #918 closed

[2019-12-02 17:05] krisdale commented on #910
PR in progress.

[2019-12-02 17:06] krisdale commented on #462
PR in progress.

[2019-12-02 18:52] mvincerx opened #940 "Create K8S intro doc for new users and convert to guide"
**Do you think Clear Linux documentation needs a new document? Please describe.**
https://docs.01.org/clearlinux/latest/tutorials/kubernetes.html

**Should the new document be a guide, a reference, or a tutorial?**
Convert tutorial to guide.

Will include @bd-dean, @eadamsintel, @CraigSterrett in conversation.

[2019-12-02 18:53] tpleavitt commented on #936
Closed per https://github.com/clearlinux/clear-linux-documentation/pull/937

[2019-12-02 18:53] #936 closed

[2019-12-04 01:53] mvincerx opened #948 "Revise Sphinx include and simplify text in fix-broken-install"
**Describe the error/improvement to an existing document or image**
See: https://docs.01.org/clearlinux/latest/guides/maintenance/fix-broken-install.html?highlight=repair

[2019-12-04 20:17] eadamsintel commented on #894
@mythi Is it expected that containerd will also find this `/usr/libexec/cni` directory? I was playing around trying to get a containerd kubernetes cluster up and running following mostly manual steps. It complained there were no plugins in /opt/cni. I installed the plugins following an external guide and got it to work. I've not played around with it anymore than that though.

[2019-12-04 20:43] mvincerx opened #949 "Consolidate, combine vmware guides into one."
**Describe the error/improvement to an existing document or image**
Currently, three VMware guides exist with overlapping sections. For example, each shows how to create a VM instance with VMware Workstation Player. As part of effort to improve user workflows, working with @odwdinc, I suggest we:
* consolidate 2-3 of these guides into one while explaining options with sphinx-tabs
* Revise screensh

[2019-12-05 09:21] mythi commented on #894
The content in `/usr/libexec/cni` is needed by the container runtime if the CNI you're installing is not self-contained but depends on the "cni-plugins" package installed there (on Clear Linux).

containerd can only be configured to look in one directory. Therefore, the workaround is to symlink `/usr/libexec/cni` to `/opt/cni/bin`. CRI-O is nice because any directory can be configured.

Kubernetes

[2019-12-05 21:33] #948 closed

[2019-12-06 22:25] puneetse commented on #894
@mythi can this be done in the kubelet service file by adding `--cni-bin-dir=/usr/libexec/cni`?https://kubernetes.io/docs/concepts/extend-kubernetes/compute-storage-net/network-plugins/

There are people who will run across these other runtimes and try to use them (like I did). So we either need to document them with the necessary workarounds, or explicitly state in the documentation CRI+O is the

[2019-12-09 06:13] mythi commented on #894
`--cni-bin-dir` is specific to dockershim and does not help with crio/containerd.

If only crio is used in validation, I'd say this statement is justified.

[2019-12-09 18:16] #949 closed

[2019-12-09 18:39] mvincerx commented on #908
@bktan8 please follow up with D.

[2019-12-09 18:41] mvincerx commented on #886
Waiting on the correct image.

[2019-12-09 18:43] mvincerx commented on #764
@mvincerx will follow up with @bd-dean

[2019-12-09 18:47] pixelgeek opened #953 "Deploying Clear Linux on QingCloud"
Provide set up/ getting started guide for deploying Clear Linux on QingCloud

**Should the new document be a guide, a reference, or a tutorial?**
Recommend a type of document, based on the structure here: https://clearlinux.org/documentation/clear-linux

Getting started/Deploy to Cloud

**Describe or provide examples of similar documents, if possible, from other web sites**
Please provide an examp

[2019-12-09 18:47] mvincerx commented on #938
@bktan8 will work on this.

[2019-12-09 18:47] pixelgeek commented on #953
Yuntong is working on this

[2019-12-09 18:49] mvincerx commented on #919
@puneetse Please follow up per meeting.

[2019-12-09 18:51] mvincerx commented on #896
TCS will follow up on 12/16 in Docs meeting.

[2019-12-09 19:29] #896 closed

[2019-12-10 16:42] DnPlas opened #954 "DLRS documentation shows incorrect Docker image name"
The DLRS documentation has an error in the image name on some sections:
- [Using the OpenVino Inference Engine](https://docs.01.org/clearlinux/latest/guides/stacks/dlrs.html#using-the-openvino-inference-engine)
- [Compiling AIXPRT with OpenMP on DLRS](https://docs.01.org/clearlinux/latest/guides/stacks/dlrs.html#compiling-aixprt-with-openmp-on-dlrs)

**Fix**

Replace stacks-tensorflow-mkl with sta

[2019-12-11 19:21] #954 closed

[2019-12-12 18:42] #764 closed

[2019-12-12 21:18] bktan8 opened #957 "Update "Increase virtual disk size of an image" to remove reference to ister.json and use YAML instead"
Update "Increase virtual disk size of an image" to remove reference to ister.json and use YAML configuration files instead

[2019-12-13 22:20] #886 closed

[2019-12-16 22:46] #957 closed

[2019-12-19 19:22] #908 closed

[2019-12-27 23:32] wakamex opened #967 "instructions for adding multi-boot on existing clear linux install (windows, etc.)"
Possible need for a new use case, or revive workable old tutorial.

- **target audience**: basic user
- **use case**: install windows after clear linux (for whatever reason, don't judge me)
- **type of document**: tutorial
- **example of similar documents**:

- old discussion at [https://community.clearlinux.org/t/multi-boot-clear-linux-os/442](https://community.clearlinux.org/t/multi-boot-clear-l

[2019-12-28 00:46] mvincerx commented on #967
Hi @wakamex. This use case is somewhat unusual, but we'll discuss it when our team returns after the holidays.  Thanks for your patience.

[2019-12-28 19:55] lebensterben commented on #919
Actually I made a wrong statement here. I was referring to https://github.com/clearlinux/distribution/issues/1133, and that is not really a kernel bug. And on a second thought, since Clear Linux is a rolling release, so this kind of problem does not persist for long, and won't worth documenting.

I agree that the documentation is not a dataset for nvidia bugs, which is their own responsibility. Bu

[2019-12-28 20:00] lebensterben commented on #919
In short, if something doesn't work, I prefer to make it clear before users ever trying to apply anything to their system.
If users instead find things not working as they expected, they usually just blame you.

[2019-12-29 21:53] wakamex commented on #967
all the old instructions are still here, and links between the pages all seem to be working

- https://web.archive.org/web/20190602071312/https://clearlinux.org/documentation/clear-linux/tutorials/multi-boot
- https://web.archive.org/web/20190602071346/https://clearlinux.org/documentation/clear-linux/tutorials/multi-boot/multi-boot-win
- https://web.archive.org/web/20190602071311/https://clearlinu

[2019-12-30 18:19] froginperil opened #968 "Documentation - Create a bootable USB drive"
Unless I am mistaken of=/dev/sdx and not /dev/sdx1. The documentation is unclear. Moreover #lsblk -S is a better bet than just #lsblk
[xxx@amphib Downloads]$ lsblk -S
NAME HCTL       TYPE VENDOR   MODEL             REV TRAN
sda  3:0:0:0    disk WD       My_Passport_0810 1049 usb
sdb  2:0:0:0    disk WD       My_Passport_25E2 4005 usb
sdc  4:0:0:0    disk PNY      USB_3.0_FD       PMAP usb

[2019-12-30 22:24] puneetse commented on #968
@froginperil can you link the document you're looking at that is saying to dd the partition instead of disk?

[2019-12-30 22:36] tpleavitt commented on #968
The initial intent of doing it this way was because we were copying an entire GPT image to the USB device, not just a specific partition

[2019-12-31 20:08] mvincerx opened #969 "Editorial revisions of cpu-performance"
For [cpu-performance](https://docs.01.org/clearlinux/latest/guides/maintenance/cpu-performance.html?highlight=thermald):

- Revise instructions and descriptions to clean up grammar and syntax
- Add detailed note/reference on how to "make sure your machine's BIOS has DPTF". This may be a disclaimer, yet it should provide more guidance to user.

[2019-12-31 20:17] mvincerx commented on #968
@froginperil, I reviewed your feedback, and your request is not clear to me. Please identify which step isn't clear and state why if applicable. You may be referring to Steps 5 and 6 under USB for Linux.

[2019-12-31 20:36] mvincerx commented on #967
Our team put a lot of work into making the clr-boot-manager work with multiple OSes.
I assumed that you were already aware of these multi-boot scenarios (esp. Windows):
- https://docs.01.org/clearlinux/latest/tutorials/multi-boot/multi-boot.html

[Method 2 here](https://docs.01.org/clearlinux/latest/tutorials/multi-boot/dual-boot-win.html#method-2-add-another-hard-disk-to-your-system-where-you-ins

[2019-12-31 20:39] froginperil commented on #968
Hi Michael:

I have been at this for a very long time (RH7.x). Be assured that I am just trying to help - not criticize.

Yes, this was creating a bootable USB stick from Linux at https://docs.01.org/clearlinux/latest/get-started/bootable-usb.html#bootable-usb-linux (which works perfectly by the way). What is unclear is this:

"sudo dd if=./clear-[version number]-live-[desktop | server].iso of=<yo

[2019-12-31 22:28] tpleavitt commented on #968
Now I see what you're talking about.  That got changed some time in the past to `of=<your USB device>` and we didn't explain that that needs to the parent device, not one of the sub-devices...it is very unclear right now and thanks for bringing that to our attention!

[2020-01-01 00:46] mvincerx commented on #968
Agreed. @froginperil How about submitting a PR? Here's how:
https://docs.01.org/clearlinux/latest/collaboration/collaboration.html#contribute-via-github

[2020-01-01 06:44] puneetse opened #970 "Document how to install Steam"
**Do you think Clear Linux documentation needs a new document? Please describe.**
There have been a lot of repeated questions asking how to install Steam. The `/usr/bin/steam` included from the linux-steam-integration packages adds confusion. It would be worth documenting the current state.

**Should the new document be a guide, a reference, or a tutorial?**
tutorial

**Describe or provide example

[2020-01-01 16:57] tpleavitt commented on #970
Funny enough, I just installed steam on my system at home over the holidays, following the forum posts and it is working well.

[2020-01-02 03:35] Fatinnadiah opened #972 "dlib installation"
To whom it may concern,

Hi, I'm Fatin and I now currently running some project on Clear Linux. Recently, I'm trying to install dlib on Clear Linux. Since Clear Linux using Python 3.8, so I build it from source.

My installation process,
1. git clone https://github.com/davisking/dlib.gi (get the dlib repo)
2. python3 setup.py bdist_wheel (to build whl file on ntel® Atom™ Processor E3950)
3. pip3 i

[2020-01-02 20:46] mvincerx commented on #972
@Fatinnadiah
I strongly recommend using on of these options:
-Sign up to the [dev mailing list](https://clearlinux.org/community/mailing-list) and submit your question.
- Submit your issue on the [Clear Linux Forum](https://community.clearlinux.org/).

@Fatinnadiah Going forward, please submit all Clear Linux OS package- and development-related issues here: https://github.com/clearlinux/distributi

[2020-01-03 22:15] froginperil commented on #968
@mvincerx I'm working on it and have downloaded to files. Of course I might also have to re-write the instructions regarding github collaboration ;-)

[2020-01-03 22:15] wisdomlight opened #974 "Validating Clear Linux documentation not working"
This link https://clearlinux.org/downloads
Resuts in this page https://clearlinux.org/documentation/clear-linux/guides/maintenance/validate-signatures

I would appreciate advice on how to validate my Clear Linux download
Thank you

[2020-01-06 17:10] mvincerx commented on #974
Here's a link to verify the integrity of the image: https://docs.01.org/clearlinux/latest/guides/maintenance/download-verify-decompress.html#verify-linux. Also, you may want to browse [this section for more general help with getting started](https://docs.01.org/clearlinux/latest/get-started/index.html).

The above link that you sent, to "validate signatures" was likely found via a Google search. W

[2020-01-06 18:06] mvincerx commented on #969
Re the second bullet, I'd like to give the reader a few more resources as to how to check if DPTF can be enabled.  This will vary by BIOS, but it would be nice to provide a link to an in-house page at minimum.
See the line starting "Intel DPTF requires BIOS support..."

[2020-01-06 22:10] krisdale commented on #974
Broken links on the clearlinux.org/downloads page have been resolved (as well as a broken link found on the developer page: https://clearlinux.org/developer)

[2020-01-06 22:10] #974 closed

[2020-01-06 22:24] mvincerx commented on #974
@krisdale Thanks for your quick work on this.

[2020-01-06 23:14] mvincerx commented on #968
I look forward to reviewing your PR. In short, it's not that the [current document](https://docs.01.org/clearlinux/latest/get-started/bootable-usb.html#bootable-usb-linux) is wrong; rather, the problem is that  this `<your USB device>` might be misconstrued.

Let's suppose `<your USB device>`  is `/dev/sdd` -- per [current example](https://docs.01.org/clearlinux/latest/get-started/bootable-usb.htm

[2020-01-07 21:38] mvincerx opened #978 "Add sudo to `mixer build` commands"
**Describe the error/improvement to an existing document or image**
Add sudo to `mixer build` commands for successful execution.
https://docs.01.org/clearlinux/latest/guides/clear/mixer.html

[2020-01-07 22:27] #978 closed

[2020-01-07 22:32] tpleavitt commented on #866
Closing for now, will revisit if more interest shown from community

[2020-01-07 22:32] #866 closed

[2020-01-08 04:42] wakamex commented on #967
those multi-boot scenarios cover a lot of ground **except** for installing windows after clear linux, which was actually the **only** recommended optional available in tutorial form earlier.

using a combination of the current live tutorials (covering clear linux after windows) and the old archived tutorials I linked (covering windows after clear linux) I managed to navigate the latter process qui

[2020-01-08 16:27] mvincerx commented on #967
@wakamex. An engineer is reviewing your request and working on a solution. Thanks for your patience.

[2020-01-09 19:25] bwarden opened #984 "Suggest a more detailed lsblk command"
**Describe the error/improvement to an existing document or image**
As given in the example in this section:
https://github.com/clearlinux/clear-linux-documentation/blob/master/source/tutorials/multi-boot/dual-boot-win.rst#advanced-use-systemd-boot-to-boot-windows-10-os-and-cl
`lsblk` doesn't give enough detail to identify which partition is which. I suggest adding more columns to its output to he

[2020-01-09 19:27] bwarden commented on #984
It might also be good to refer to https://en.wikipedia.org/wiki/GUID_Partition_Table#Partition_type_GUIDs

[2020-01-10 22:25] #684 closed

[2020-01-10 22:36] #967 closed

[2020-01-10 22:43] #968 closed

[2020-01-13 18:49] #876 closed

[2020-01-13 21:33] bktan8 opened #988 "vmware-player intro of creating a new "hypervisor" is wrong"
The current intro:

This page explains how to create a new VMware Workstation Player hypervisor and use one of two images: the |CL| Desktop installer iso, or the |CL| Pre-configured VMWare image.

We are creating a new "VM" using the VMware Workstation Player hypervisor.  We are NOT creating a new "hypervisor."  VMware Workstation Player is the hypervisor.

[2020-01-14 04:28] lebensterben opened #989 "Suggest users to use `balenaEtcher` in `Create a bootable USB drive`"
[balenaEtcher](https://www.balena.io/etcher/) is an open-source software licensed under Apache License 2.0. Here are a few reasons to recommend using it:

First it's cross-platformed. There are ready to use images for macOS, Windows, and Linux. So we just need one working documentation and that would apply to users from all three major operating systems.

Second it has GUI interface and doesn't re

[2020-01-14 17:58] mvincerx commented on #989
@lebensterben, Thanks for submitting this. We recently discussed using balenaEtcher--just last week. Our team will discuss this internally and get back to you. FYI @odwdinc @puneetse

[2020-01-14 18:19] #462 closed

[2020-01-16 23:42] #938 closed

[2020-01-21 03:29] namm2 opened #998 "Broken links in "Hosting Containers""
**Describe the error/improvement to an existing document or image**
Broken links in Hosting Containers: https://clearlinux.org/downloads/containers where they resulted in 404 error.

[2020-01-21 17:22] mvincerx commented on #998
Good catch, @namm2. Thanks. I'm on this.

[2020-01-21 18:26] mvincerx commented on #998
URLs are corrected now.  Please consider [contributing to our docs](https://docs.01.org/clearlinux/latest/collaboration/collaboration.html). We're an open source project.  Closing.

[2020-01-21 18:26] #998 closed

[2020-01-21 19:47] mvincerx commented on #953
Closed per https://github.com/clearlinux/clear-linux-documentation/pull/971

[2020-01-21 19:47] #953 closed

[2020-01-22 17:35] puneetse opened #1001 "live-desktop vs live-server requirements"
**Describe the error/improvement to an existing document or image**
The live-server installer requirement more minimum disk space to install than the live-server installer.

live-desktop requires 20GB+
live-server requires 4GB+

These requirements should be made clear in the documentation

**Additional context**
https://docs.01.org/clearlinux/latest/reference/system-requirements.html#installer-req

[2020-01-23 11:40] mythi opened #1003 "kubernetes doc"
**Describe the error/improvement to an existing document or image**

some feedback: https://github.com/clearlinux/distribution/issues/1663#issuecomment-577411817